In [2]:
import pandas as pd

Открываем файл, который мы подготовили для подсчёта статистики.

In [5]:
df_for_stat = pd.read_excel('df_for_stat.xlsx')

In [6]:
df_for_stat

,Gender,Age,age_ed,education,Group,answers,q_1,q_2,q_3,q_4,...,q_3_p,q_4_p,q_5_p,q_6_p,t_1,t_2,t_3,t_4,t_5,t_6
0,Женщина,18,13.0,неоконченное высшее,A,"{3.0: ['a1', 'a1', 9913.0], 5.0: ['a2', 'a2', ...",a3,a2,a1,a1,...,1,1,1,1,10906,7939,9913,12476,8019,9431
1,Женщина,18,14.0,неоконченное высшее,A,"{6.0: ['a2', 'a2', 8753.0], 2.0: ['a2', 'a3', ...",a2,a2,a1,a1,...,1,1,0,1,9930,10192,9978,11737,12158,8753
2,Женщина,18,11.0,неоконченное высшее,B,"{6.0: ['a2', 'a2', 9995.0], 4.0: ['a2', 'a1', ...",a2,a2,a1,a2,...,1,0,1,1,9108,10064,15051,9188,9138,9995
3,Женщина,18,13.0,неоконченное высшее,D,"{1.0: ['a2', 'a3', 15082.0], 5.0: ['a2', 'a1',...",a2,a2,a2,a2,...,0,1,0,1,15082,9575,10143,27295,11722,8777
4,Мужчина,21,13.0,неоконченное высшее,A,"{1.0: ['a3', 'a3', 23260.0], 5.0: ['a2', 'a2',...",a3,a1,a1,a1,...,1,1,1,1,23260,20021,10044,10417,14685,8624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Мужчина,36,15.0,среднее-специальное,A,"{1.0: ['a2', 'a3', 13060.0], 3.0: ['a1', 'a1',...",a2,a1,a1,a2,...,1,0,1,0,13060,9061,18019,13842,10143,8136
124,Мужчина,21,15.0,высшее,C,"{3.0: ['a2', 'a3', 11621.0], 1.0: ['a2', 'a3',...",a2,a1,a2,a2,...,0,1,0,1,11773,12697,11621,9137,8921,9000
125,Мужчина,23,13.0,неоконченное высшее,D,"{6.0: ['a3', 'a2', 18524.0], 2.0: ['a2', 'a1',...",a2,a2,a2,a2,...,0,1,0,0,10013,14877,9045,16989,14184,18524
126,Мужчина,18,12.0,неоконченное высшее,A,"{4.0: ['a1', 'a1', 17044.0], 1.0: ['a2', 'a3',...",a2,a1,a2,a1,...,0,1,1,1,12324,13251,41184,17044,13331,9038
127,Мужчина,44,15.0,высшее,B,"{4.0: ['a2', 'a1', 43169.0], 6.0: ['a2', 'a2',...",a2,a1,a1,a2,...,1,0,1,1,15893,12169,12659,43169,15221,33260

Посчитаем количество респондентов женщин и мужчин.

In [7]:
df_for_stat['Gender'].value_counts()

Женщина    67
Мужчина    61
Name: Gender, dtype: int64

Посчитаем количество пройденных листов со стимулами.

In [8]:
df_for_stat['Group'].value_counts()

B    39
A    31
D    30
C    28
Name: Group, dtype: int64

Посчитаем среднее по возрасту, медиану, моду, максимальный и минимальный возраст

In [12]:
df_for_stat['Age'].mean()

36.890625

In [13]:
df_for_stat['Age'].median()

38.5

In [14]:
df_for_stat['Age'].mode()

0    20
Name: Age, dtype: int64

In [15]:
df_for_stat['Age'].min()

18

In [16]:
df_for_stat['Age'].max()

75

Далее для информации о респондентах мы построили график распределения пола по возрасту.

Среднее значение по правильным ответам в каждом вопросе.

In [17]:
df_for_stat[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].mean()

q_1_p    0.203125
q_2_p    0.328125
q_3_p    0.492188
q_4_p    0.554688
q_5_p    0.554688
q_6_p    0.710938
dtype: float64

Среднее значение по правильным ответам в каждом вопросе с группировкойпо листам.

In [18]:
df_for_stat.groupby('Group')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].mean()

          q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Group
A      0.258065  0.161290  0.709677  0.483871  0.709677  0.677419
B      0.179487  0.256410  0.769231  0.410256  0.692308  0.641026
C      0.178571  0.571429  0.250000  0.678571  0.500000  0.750000
D      0.200000  0.366667  0.133333  0.700000  0.266667  0.800000

Распределение по ответам респондентов в кажом вопросе и листе.

In [19]:
df_for_stat.groupby('Group')[['q_1']].value_counts()

Group  q_1
A      a2     16
       a3      8
       a1      7
B      a2     22
       a1      9
       a3      7
       a4      1
C      a2     19
       a3      5
       a1      3
       a4      1
D      a2     17
       a3      6
       a1      5
       a4      2
dtype: int64

In [20]:
df_for_stat.groupby('Group')[['q_2']].value_counts()

Group  q_2
A      a1     13
       a2     13
       a3      5
B      a2     14
       a1     13
       a3     10
       a4      2
C      a1     16
       a2      7
       a3      5
D      a2     16
       a1     11
       a3      3
dtype: int64

In [21]:
df_for_stat.groupby('Group')[['q_3']].value_counts()

Group  q_3
A      a1     22
       a2      7
       a3      2
B      a1     30
       a2      4
       a3      4
       a4      1
C      a1     12
       a2      9
       a3      7
D      a2     21
       a3      4
       a1      3
       a4      2
dtype: int64

In [22]:
df_for_stat.groupby('Group')[['q_4']].value_counts()

Group  q_4
A      a1     15
       a2      7
       a3      5
       a4      4
B      a1     16
       a2     12
       a4      6
       a3      5
C      a2     19
       a1      5
       a3      3
       a4      1
D      a2     21
       a1      7
       a3      2
dtype: int64

In [23]:
df_for_stat.groupby('Group')[['q_5']].value_counts()

Group  q_5
A      a2     22
       a3      5
       a1      3
       a4      1
B      a2     27
       a3      5
       a1      4
       a4      3
C      a1     14
       a2     10
       a3      4
D      a2     17
       a1      8
       a3      4
       a4      1
dtype: int64

In [24]:
df_for_stat.groupby('Group')[['q_6']].value_counts()

Group  q_6
A      a2     21
       a1      5
       a3      5
B      a2     25
       a3      7
       a1      6
       a4      1
C      a2     21
       a1      4
       a3      2
       a4      1
D      a2     24
       a1      5
       a3      1
dtype: int64

Подсчитаем среднее по времени для тех вопросов, когда интонация совпадала с контекстом и когда не совпадала.

Считаем Q-контекст и Q-интонацию

In [26]:
df_for_stat.loc[(df_for_stat['Group'] == 'A')]['t_6'].mean()

12920.838709677419

In [27]:
df_for_stat.loc[(df_for_stat['Group'] == 'B')]['t_5'].mean()

14925.692307692309

In [28]:
df_for_stat.loc[(df_for_stat['Group'] == 'C')]['t_4'].mean()

19080.571428571428

In [29]:
df_for_stat.loc[(df_for_stat['Group'] == 'D')]['t_6'].mean()

15514.833333333334

Считаем Q-контекст и V-интонацию

In [34]:
df_for_stat.loc[(df_for_stat['Group'] == 'A')]['t_5'].mean()

11576.709677419354

In [37]:
df_for_stat.loc[(df_for_stat['Group'] == 'B')]['t_6'].mean()

16203.631578947368

In [38]:
df_for_stat.loc[(df_for_stat['Group'] == 'C')]['t_6'].mean()

14830.607142857143

In [39]:
df_for_stat.loc[(df_for_stat['Group'] == 'D')]['t_4'].mean()

19275.5

Считаем V-контекст и V-интонацию

In [40]:
df_for_stat.loc[(df_for_stat['Group'] == 'A')]['t_4'].mean()

17621.870967741936

In [41]:
df_for_stat.loc[(df_for_stat['Group'] == 'B')]['t_3'].mean()

20515.641025641027

In [42]:
df_for_stat.loc[(df_for_stat['Group'] == 'C')]['t_5'].mean()

15920.214285714286

In [43]:
df_for_stat.loc[(df_for_stat['Group'] == 'D')]['t_2'].mean()

19648.433333333334

Считаем V-контекст и Q-интонацию

In [44]:
df_for_stat.loc[(df_for_stat['Group'] == 'A')]['t_3'].mean()

14297.677419354839

In [45]:
df_for_stat.loc[(df_for_stat['Group'] == 'B')]['t_4'].mean()

20549.615384615383

In [46]:
df_for_stat.loc[(df_for_stat['Group'] == 'C')]['t_2'].mean()

17335.678571428572

In [47]:
df_for_stat.loc[(df_for_stat['Group'] == 'D')]['t_5'].mean()

15719.3