In [1]:
import pandas as pd

Открываем то, что скачали из pcibex. Перед этим в excel удалили некоторые столбцы, чтобы оставить только те данные, которые необходимы. Ещё мы удалили всё то, что касается информации аудио и строки формата: категория - unchecked. Так как само значение у нас находится в столбце value.

In [157]:
df = pd.read_csv('results.csv', sep = ';')

In [158]:
df

,Label,PennElementName,Parameter,Value,Time,Group,Item,Expected
0,PennController,0,_Trial_,Start,1702820669477,NaN,NaN,NaN
1,Scale,inputAgree,С инструкцией ознакомился(-лась)%2C согласие н...,checked,1702820678503,Status,NaN,NaN
2,Scale,inputAgree,Choice,С инструкцией ознакомился(-лась)%2C согласие н...,1702820677536,NaN,NaN,NaN
3,PennController,0,_Trial_,End,1702820678503,NaN,NaN,NaN
4,PennController,1,_Trial_,Start,1702820678506,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
11709,Selector,answer,Selection,a2,1703673010437,A,3.0,a1
11710,PennController,5,_Trial_,End,1703673010442,A,3.0,a1
11711,PennController,10,_Trial_,Start,1703673010442,A,8.0,a4
11712,Selector,answer,Selection,a4,1703673025802,A,8.0,a4
11713,PennController,10,_Trial_,End,1703673025803,A,8.0,a4

In [161]:
df.to_excel("results_filter.xlsx")

In [225]:
df = pd.read_excel('results_filter.xlsx') #в некоторых местах пропала "с инструкцией..." пришлось руками вставлять

Следующая ячейка кода направлена на то, чтобы посчитать количество правильных ответов в филлерах. Мы уберём тех людей, которые плохо справились с заданием.

In [226]:
dict_person = {}
i = 0
sum = 0
flag = 0

for index, row in df.iterrows():
    if i not in dict_person:
        dict_person[i] = []
        dict_person[i].append(index)
    
    if 'С инструкцией ознакомился(-лась)%2C согласие на обработку персональных данных даю.' in row['Value']:
        if flag == 1:
            dict_person[i].append(sum)
            dict_person[i].append(group)
            i+=1
            sum = 0
            flag = 0
    elif len(row['Value']) == 2 and (not row['Value'].isnumeric()):
        if row['Item'] > 6 and row['Item'] < 19:
            if row['Value'] == row['Expected']:
                sum+=1
                group = row['Group']
                
    elif row['Value'] != 'Start' and row['Value'] != 'End':
        dict_person[i].append(row['Value'])
        flag = 1
        
    if flag == 1 and index == 10910: #чтобы записать последнего челика
        dict_person[i].append(sum)
        dict_person[i].append(group)

In [227]:
dict_person

{0: [0, 'Женщина', '22', 'высшее%2C 15', 19, 'A'],
 1: [85, 'Женщина', '18', 'неоконченное высшее%2C 13', 16, 'A'],
 2: [168, 'Женщина', '19', 'неоконченное высшее%2C 12', 4, 'B'],
 3: [209, 'Женщина', '19', 'неоконченное высшее%2C 13', 11, 'D'],
 4: [271, 'Мужчина', '21', 'неоконченное высшее%2C 13', 18, 'A'],
 5: [354, 'Мужчина', '18', 'неоконченное высшее%2C 11', 4, 'B'],
 6: [395, 'Женщина', '19', 'высшее%2C 13', 11, 'C'],
 7: [457, 'Мужчина', '42', 'Высшее%2C 15', 12, 'D'],
 8: [519,
  'Предпочитаю не указывать',
  '18',
  'неоконченное высшее%2C 12',
  19,
  'A'],
 9: [602, 'Женщина', '18', 'неоконченное высшее%2C 11%2C5', 4, 'B'],
 10: [643, 'Мужчина', '42', 'неоконченное высшее', 9, 'C'],
 11: [705, 'Женщина', '20', 'неоконченное высшее%2C 13', 9, 'D'],
 12: [767, 'Женщина', '20', 'неоконченное высшее%2C 13', 18, 'A'],
 13: [850, 'Мужчина', '50', 'ученая степень%2C 11', 5, 'B'],
 14: [891,
  'Мужчина',
  '49',
  'Высшее%2C 15%2Cхотя вообще больше%2C можно сказать 18 +работа в образовании (высшем) ',
  12,
  'C'],
 15: [953, 'Женщина', '25', 'высшее%2C18', 12, 'D'],
 16: [1015, 'Женщина', '49', '2 высших%2C 17 лет', 10, 'A'],
 17: [1098, 'Женщина', '46', 'высшее%2C 17', 5, 'B'],
 18: [1139, 'Женщина', '19', 'неоконченное высшее%2C 13', 10, 'C'],
 19: [1201, 'Женщина', '18', 'неоконченное высшее%2C 13', 11, 'D'],
 20: [1263, 'Мужчина', '49', 'высшее%2C 19', 11, 'D'],
 21: [1325, 'Женщина', '48', 'высшее%2C 15', 11, 'D'],
 22: [1387, 'Мужчина', '49', 'высшее%2C 14', 12, 'C'],
 23: [1449, 'Женщина', '44', 'высшее%2C 18', 10, 'D'],
 24: [1511, 'Женщина', '50', 'высшее 15', 17, 'A'],
 25: [1594, 'Женщина', '51', 'высшее%2C 15', 4, 'B'],
 26: [1635, 'Женщина', '45', 'высшее', 4, 'B'],
 27: [1676, 'Женщина', '20', 'Неоконченное высшее%2C 13%2C5', 11, 'D'],
 28: [1738, 'Женщина', '47', 'высшее%2C 15', 19, 'A'],
 29: [1821, 'Женщина', '22', 'высшее%2C 15', 4, 'B'],
 30: [1862, 'Женщина', '35', 'Высшее%2C16', 10, 'C'],
 31: [1924, 'Женщина', '39', 'Высшее%2C 18', 9, 'D'],
 32: [1986, 'Мужчина', '50', 'высшее%2C 20', 12, 'A'],
 33: [2069, 'Женщина', '20', 'неоконченное высшее%2C 13', 4, 'B'],
 34: [2110, 'Женщина', '22', 'высшее%2C 15', 11, 'C'],
 35: [2172, 'Женщина', '59', 'Высшее%2C 15', 9, 'D'],
 36: [2234, 'Женщина', '62', 'Высшее%2C 15', 15, 'A'],
 37: [2317, 'Женщина', '52', 'Средне специальное образование ', 3, 'B'],
 38: [2358, 'Женщина', '52', 'Высшее%2C15', 9, 'C'],
 39: [2420, 'Женщина', '48', '19', 11, 'D'],
 40: [2482, 'Женщина', '37', 'Высшее%2C 16', 10, 'D'],
 41: [2544, 'Женщина', '44', 'Высшее%2C 15', 14, 'A'],
 42: [2627, 'Женщина', '35', 'Высшее%2C 15', 7, 'C'],
 43: [2689, 'Женщина', '41', 'Высшее%2C15', 11, 'D'],
 44: [2751, 'Женщина', '36', 'Высшее%2C 16', 12, 'D'],
 45: [2813, 'Женщина', '39', 'Средне специальное%2C 17', 4, 'B'],
 46: [2854, 'Женщина', '60', 'Высшее%2C 15', 11, 'C'],
 47: [2916, 'Мужчина', '24', 'высшее%2C 17', 10, 'D'],
 48: [2978, 'Женщина', '57', 'Высшее%2C15', 18, 'A'],
 49: [3061, 'Женщина', '42', 'высшее%2C 17', 4, 'B'],
 50: [3102, 'Мужчина', '19', 'Неоконченное высшее%2C 12', 12, 'C'],
 51: [3164, 'Женщина', '37', '2 высших%2C 17', 9, 'D'],
 52: [3226, 'Женщина', '52', 'Среднее', 11, 'A'],
 53: [3309, 'Женщина', '72', 'Высшее', 15, 'A'],
 54: [3392, 'Мужчина', '39', 'Высшее%2C15', 12, 'C'],
 55: [3454, 'Мужчина', '45', 'Высшее 23', 8, 'D'],
 56: [3516, 'Мужчина', '20', 'неоконченное высшее%2C 15', 15, 'A'],
 57: [3599, 'Женщина', '16', 'среднее%2C 9', 16, 'A'],
 58: [3682, 'Мужчина', '20', 'неоконченное высшее%2C 13', 18, 'A'],
 59: [3765, 'Женщина', '72', 'Высшее%2C15', 11, 'A'],
 60: [3848, 'Женщина', '18', 'Неоконченное высшее 14', 18, 'A'],
 61: [3931, 'Мужчина', '18', 'неоконченное высшее%2C13', 19, 'A'],
 62: [4014, 'Мужчина', '72', '10', 13, 'A'],
 63: [4097, 'Мужчина', '48', 'Среднее-специальное%2C 11', 8, 'D'],
 64: [4159, 'Женщина', '41', 'Среднее специальное%2C 15', 12, 'A'],
 65: [4242, 'Женщина', '66', 'Среднее ', 2, 'B'],
 66: [4283, 'Мужчина', '19', 'неоконченное высшее%2C 13', 12, 'C'],
 67: [4345, 'Женщина', '20', 'неоконченное высшее%2C 14', 9, 'D'],
 68: [4407, 'Женщина', '40', 'высшее%2C 19', 19, 'A'],
 69: [4490, 'Женщина', '22', 'Бакалавриат', 4, 'B'],
 70: [4531, 'Женщина', '20', 'высшее%2C 15', 10, 'C'],
 71: [4593, 'Мужчина', '20', 'неоконченное высшее', 10, 'D'],
 72: [4655, 'Мужчина', '20', 'среднее%2C 14', 12, 'D'],
 73: [4717, 'Мужчина', '21', 'Неоконечнное высшее%2C 14', 17, 'A'],
 74: [4800, 'Мужчина', '19', 'среднее 13', 5, 'B'],
 75: [4841, 'Мужчина', '43', 'среднее', 11, 'D'],
 76: [4903, 'Женщина', '41', 'Высшее17', 11, 'D'],
 77: [4965, 'Мужчина', '20', 'студент%2C 13', 5, 'B'],
 78: [5006, 'Мужчина', '21', 'неоконченное высшее%2C 14', 5, 'B'],
 79: [5047, 'Мужчина', '20', 'высшее%2C 13', 4, 'B'],
 80: [5088, 'Мужчина', '19', 'неоконченное высшее%2C 14', 4, 'B'],
 81: [5129, 'Женщина', '45', 'Среднее специальное%2C15', 2, 'B'],
 82: [5170, 'Женщина', '40', 'Высшее%2C 19', 9, 'C'],
 83: [5232, 'Мужчина', '20', 'неоконченное высшее%2C 14', 12, 'C'],
 84: [5294, 'Женщина', '19', 'Среднее%2C3', 6, 'C'],
 85: [5356,
  'Предпочитаю не указывать',
  '64',
  'Средне- специальное%2C 13',
  4,
  'C'],
 86: [5418, 'Мужчина', '45', 'оконченное высшее%2C 15', 4, 'B'],
 87: [5459, 'Мужчина', '19', 'неоконченное высшее%2C 19', 4, 'B'],
 88: [5500, 'Мужчина', '22', 'высшее%2C 15', 19, 'A'],
 89: [5583, 'Мужчина', '30', 'кандидат всех наук', 3, 'B'],
 90: [5624, 'Женщина', '20', 'неоконченное высшее%2C 20', 11, 'C'],
 91: [5686, 'Мужчина', '21', 'высшее%2C 14', 11, 'D'],
 92: [5748, 'Женщина', '43', 'Высшее%2C11', 18, 'A'],
 93: [5831, 'Мужчина', '63', 'Среднее%2C 10', 4, 'B'],
 94: [5872, 'Женщина', '39', 'Высшее%2C 15', 10, 'C'],
 95: [5934, 'Женщина', '65', 'Высшее%2C 15', 10, 'C'],
 96: [5996, 'Женщина', '60', 'Высшее', 15, 'A'],
 97: [6079, 'Женщина', '38', 'Высшее%2C 16', 14, 'A'],
 98: [6162, 'Мужчина', '43', 'Высшее 15', 6, 'C'],
 99: [6224, 'Женщина', '35', 'Высшее%2C16', 9, 'D'],
 100: [6286, 'Женщина', '55', 'СПО', 17, 'A'],
 101: [6369, 'Женщина', '46', 'Высшее%2C 16', 3, 'B'],
 102: [6410, 'Мужчина', '20', 'СПО', 5, 'B'],
 103: [6451, 'Женщина', '63', '15', 2, 'B'],
 104: [6492, 'Женщина', '60', 'высшее%2C 15', 16, 'A'],
 105: [6575, 'Женщина', '38', 'Высшее%2C 15', 4, 'B'],
 106: [6616, 'Женщина', '32', 'два высших%2C 22 ', 4, 'B'],
 107: [6657, 'Женщина', '50', 'Высшее%2C 15', 9, 'C'],
 108: [6719, 'Женщина', '55', 'Высшее', 18, 'A'],
 109: [6802, 'Женщина', '60', 'Высшее', 11, 'A'],
 110: [6885, 'Мужчина', '35', 'высшее%2C 16', 8, 'C'],
 111: [6947, 'Женщина', '67', 'Среднее', 9, 'D'],
 112: [7009, 'Женщина', '43', 'Высшее%2C 18', 9, 'D'],
 113: [7071, 'Женщина', '51', 'высшее%2C30', 9, 'D'],
 114: [7133, 'Женщина', '45', 'высшее', 4, 'B'],
 115: [7174, 'Женщина', '37', 'Высшее%2C 17', 9, 'D'],
 116: [7236, 'Мужчина', '43', 'Среднее специальное ', 12, 'A'],
 117: [7319, 'Женщина', '42', 'Высшее%2C 10', 14, 'A'],
 118: [7402, 'Женщина', '40', 'Высшее%2C 17', 9, 'C'],
 119: [7464, 'Женщина', '50', 'высшее 15', 12, 'D'],
 120: [7526, 'Женщина', '44', 'Высшее%2C 16', 8, 'A'],
 121: [7609, 'Женщина', '41', 'Среднее 11', 4, 'B'],
 122: [7650, 'Женщина', '52', 'высшее', 8, 'C'],
 123: [7712, 'Мужчина', '22', 'высшее%2C 15', 10, 'D'],
 124: [7774, 'Мужчина', '20', 'неоконченное высшее', 11, 'D'],
 125: [7836, 'Женщина', '55 лет', 'Среднее специальное%2C13', 0, 'D'],
 126: [7877, 'Женщина', '39', 'Высшее%2C 17', 11, 'C'],
 127: [7939, 'Мужчина', '55', 'Высшее%2C 30', 5, 'B'],
 128: [7980, 'Мужчина', '21', 'неоконченное высшее%2C 14', 5, 'B'],
 129: [8021, 'Мужчина', '26', 'высшее%2C 17', 4, 'B'],
 130: [8062, 'Мужчина', '16', '10 класс', 9, 'C'],
 131: [8124, 'Женщина', '42', 'высшее%2C 15', 9, 'C'],
 132: [8186, 'Женщина', '58', 'высшее%2C16', 13, 'A'],
 133: [8269, 'Мужчина', '34', 'Высшее%2C16', 5, 'B'],
 134: [8310, 'Мужчина', '34', 'Среднее%2C 12', 9, 'C'],
 135: [8372, 'Мужчина', '55', 'Высшее%2C 15', 9, 'D'],
 136: [8434, 'Женщина', '43', 'Высшее%2C 17', 19, 'A'],
 137: [8517, 'Мужчина', '17', 'Среднее профессиональное%2C 10', 11, 'A'],
 138: [8600, 'Женщина', '13', 'Среднее%2C 7', 8, 'C'],
 139: [8662, 'Женщина', '30', 'Высшее%2C 16', 7, 'C'],
 140: [8724, 'Женщина', '61', 'высшее%2C35лет', 14, 'A'],
 141: [8807, 'Мужчина', '20', 'неоконченное высшее%2C 13', 5, 'B'],
 142: [8848, 'Мужчина', '62', 'Высшее%2C 62', 6, 'C'],
 143: [8910, 'Женщина', '57', 'Среднее специальное%2C12', 8, 'C'],
 144: [8972, 'Мужчина', '62', '15', 14, 'A'],
 145: [9055, 'Мужчина', '31', '15 высшее', 4, 'B'],
 146: [9096, 'Женщина', '23', '15', 12, 'C'],
 147: [9158, 'Мужчина', '48', 'Высшее 15', 10, 'D'],
 148: [9220, 'Женщина', '65', 'Высшее%2C15', 15, 'A'],
 149: [9303, 'Женщина', '39', 'высшее%2C15', 5, 'B'],
 150: [9344, 'Женщина', '28', 'высшее%2C 15', 12, 'C'],
 151: [9406, 'Женщина', '57', 'высшее 17', 9, 'C'],
 152: [9468, 'Женщина', '33', 'Высшее%2C 16', 10, 'D'],
 153: [9530, 'Мужчина', '41', 'Высшее%2C15', 4, 'B'],
 154: [9571, 'Мужчина', '42', 'высшее', 3, 'B'],
 155: [9612, 'Мужчина', '18', 'Неоконченное высшее%2C11', 10, 'D'],
 156: [9674, 'Мужчина', '75', 'Высшее%2C15', 17, 'A'],
 157: [9757, 'Мужчина', '40', '16', 3, 'B'],
 158: [9798, 'Мужчина', '49', 'Высшее%2C18', 3, 'B'],
 159: [9839, 'Мужчина', '56', 'Среднее специальное%2C12', 9, 'C'],
 160: [9901, 'Женщина', '18', 'среднее%2C 11', 19, 'A'],
 161: [9984, 'Мужчина', '20', 'неоконченное высшее%2C 13', 5, 'B'],
 162: [10025, 'Женщина', '63', 'Высшее', 7, 'C'],
 163: [10087, 'Мужчина', '56', 'Среднее', 'Женщина', '40', '19', 20, 'A'],
 164: [10231, 'Женщина', '63', 'среднее специальное', 4, 'B'],
 165: [10272, 'Мужчина', '47', 'высшее кандидат наук', 8, 'C'],
 166: [10334, 'Мужчина', '49', 'Высшее', 9, 'D'],
 167: [10396, 'Мужчина', '20', 'неоконченное высшее%2C 14', 19, 'A'],
 168: [10479, 'Женщина', '43', 'Высшее%2C17', 4, 'B'],
 169: [10520, 'Мужчина', '29', 'Высшее', 9, 'C'],
 170: [10582, 'Женщина', '37', 'Среднее специальное%2C 15', 10, 'D'],
 171: [10644, 'Мужчина', '36', 'Среднее-специальное%2C 15', 17, 'A'],
 172: [10727, 'Женщина', '63', 'высшее%2C15', 5, 'D'],
 173: [10789, 'Мужчина', '21', '15', 11, 'C'],
 174: [10851, 'Мужчина', '23', 'неоконченное высшее%2C 13', 12, 'D']}

Тут мы выделяем этих людей.

In [228]:
count = 0
dict_not_use = {}

for key, value in dict_person.items():
    if value[5] == 'A' and value[4] < 14:
        dict_not_use[key] = value
        count+=1
    if value[5] == 'B' and value[4] < 3:
        dict_not_use[key] = value
        count+=1
    if (value[5] == 'C' or value[5] == 'D') and value[4] < 9:
        dict_not_use[key] = value
        count+=1
        
print(count)

30

In [229]:
dict_not_use

{16: [1015, 'Женщина', '49', '2 высших%2C 17 лет', 10, 'A'],
 32: [1986, 'Мужчина', '50', 'высшее%2C 20', 12, 'A'],
 42: [2627, 'Женщина', '35', 'Высшее%2C 15', 7, 'C'],
 52: [3226, 'Женщина', '52', 'Среднее', 11, 'A'],
 55: [3454, 'Мужчина', '45', 'Высшее 23', 8, 'D'],
 59: [3765, 'Женщина', '72', 'Высшее%2C15', 11, 'A'],
 62: [4014, 'Мужчина', '72', '10', 13, 'A'],
 63: [4097, 'Мужчина', '48', 'Среднее-специальное%2C 11', 8, 'D'],
 64: [4159, 'Женщина', '41', 'Среднее специальное%2C 15', 12, 'A'],
 65: [4242, 'Женщина', '66', 'Среднее ', 2, 'B'],
 81: [5129, 'Женщина', '45', 'Среднее специальное%2C15', 2, 'B'],
 84: [5294, 'Женщина', '19', 'Среднее%2C3', 6, 'C'],
 85: [5356,
  'Предпочитаю не указывать',
  '64',
  'Средне- специальное%2C 13',
  4,
  'C'],
 98: [6162, 'Мужчина', '43', 'Высшее 15', 6, 'C'],
 103: [6451, 'Женщина', '63', '15', 2, 'B'],
 109: [6802, 'Женщина', '60', 'Высшее', 11, 'A'],
 110: [6885, 'Мужчина', '35', 'высшее%2C 16', 8, 'C'],
 116: [7236, 'Мужчина', '43', 'Среднее специальное ', 12, 'A'],
 120: [7526, 'Женщина', '44', 'Высшее%2C 16', 8, 'A'],
 122: [7650, 'Женщина', '52', 'высшее', 8, 'C'],
 125: [7836, 'Женщина', '55 лет', 'Среднее специальное%2C13', 0, 'D'],
 132: [8186, 'Женщина', '58', 'высшее%2C16', 13, 'A'],
 137: [8517, 'Мужчина', '17', 'Среднее профессиональное%2C 10', 11, 'A'],
 138: [8600, 'Женщина', '13', 'Среднее%2C 7', 8, 'C'],
 139: [8662, 'Женщина', '30', 'Высшее%2C 16', 7, 'C'],
 142: [8848, 'Мужчина', '62', 'Высшее%2C 62', 6, 'C'],
 143: [8910, 'Женщина', '57', 'Среднее специальное%2C12', 8, 'C'],
 162: [10025, 'Женщина', '63', 'Высшее', 7, 'C'],
 165: [10272, 'Мужчина', '47', 'высшее кандидат наук', 8, 'C'],
 172: [10727, 'Женщина', '63', 'высшее%2C15', 5, 'D']}

In [230]:
df.to_excel("1.xlsx") #посмотрим, сколько надо прибавлять по индексу, чтобы удалить

Удаляем с помощью индексов строк. 

Начиная от индекс из словаря - 2, заканчивая индекс + 80 для А

индекс из словаря - 2 : индекс + 38 для B

индекс из словаря - 2 : индекс + 59 для С и D

In [231]:
df_for_count = df.copy()

In [232]:
df_for_count

,Label,PennElementName,Parameter,Value,Time,Group,Item,Expected
0,PennController,0,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
1,Scale,inputAgree,Choice,С инструкцией ознакомился(-лась)%2C согласие н...,1.702821e+12,NaN,NaN,NaN
2,PennController,0,_Trial_,End,1.702821e+12,NaN,NaN,NaN
3,PennController,1,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
4,Scale,inputGender,Choice,Женщина,1.702821e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10906,Selector,answer,Selection,a2,1.703666e+12,D,3.0,a3
10907,PennController,5,_Trial_,End,1.703666e+12,D,3.0,a3
10908,PennController,10,_Trial_,Start,1.703666e+12,D,8.0,a4
10909,Selector,answer,Selection,a4,1.703666e+12,D,8.0,a4
10910,PennController,10,_Trial_,End,1.703666e+12,D,8.0,a4

In [234]:
for key, value in dict_not_use.items():
    st = value[0] - 2
    if value[5] == 'A':
        fin = value[0] + 80
    if value[5] == 'B':
        fin = value[0] + 38
    if (value[5] == 'C' or value[5] == 'D'):
        fin = value[0] + 59
    st_del = list(range(st, fin+1))
    df_for_count = df_for_count.drop(index=st_del, axis = 0)

In [235]:
df_for_count.to_excel("2.xlsx") #вновь проверяем всё и ручками удаляем "предпочитаю не указывать"

In [3]:
df_for_stat = pd.read_excel('2.xlsx')

Вот мы всё удалили. Теперь перейдём к форматированию таблицы.

In [4]:
df_for_stat

,Label,PennElementName,Parameter,Value,Time,Group,Item,Expected
0,PennController,0,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
1,Scale,inputAgree,Choice,С инструкцией ознакомился(-лась)%2C согласие н...,1.702821e+12,NaN,NaN,NaN
2,PennController,0,_Trial_,End,1.702821e+12,NaN,NaN,NaN
3,PennController,1,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
4,Scale,inputGender,Choice,Женщина,1.702821e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8798,Selector,answer,Selection,a2,1.703666e+12,D,3.0,a3
8799,PennController,5,_Trial_,End,1.703666e+12,D,3.0,a3
8800,PennController,10,_Trial_,Start,1.703666e+12,D,8.0,a4
8801,Selector,answer,Selection,a4,1.703666e+12,D,8.0,a4
8802,PennController,10,_Trial_,End,1.703666e+12,D,8.0,a4

С помощью этого словаря сделаем так, чтобы ответы у пользователей разделялись + фиксируем время.

In [9]:
dict_person_for_stat = {}
i = 0
sum = 0
flag = 0

for index, row in df_for_stat.iterrows():
    if i not in dict_person_for_stat:
        dict_person_for_stat[i] = []
        answers = {}
    if len(row['Value']) == 2 and (not row['Value'].isnumeric()):
        if row['Item'] < 7:
            group = row['Group']
            t = int(df_for_stat.iloc[index-1]['Time']) - int(df_for_stat.iloc[index+1]['Time']) 
            answers[row['Item']] = [row['Value'], row['Expected'], t]
    else:
        if row['PennElementName'] == 'inputEducation':
            stroka = row['Value'].split(' ')
            if len(stroka) > 1 and stroka[-1].isnumeric():
                new_str = []
                for el in stroka:
                    el_2 = el.replace('%2C', '')
                    new_str.append(el_2)
                dict_person_for_stat[i].append(new_str[-1])
                stroka = new_str[:-1]
                stroka = ' '.join(stroka)
                dict_person_for_stat[i].append(stroka)
            else:
                dict_person_for_stat[i].append('NaN')
                stroka = ' '.join(stroka)
                dict_person_for_stat[i].append(stroka)
        elif 'С инструкцией' not in row['Value'] and row['Value'] != 'Start' and row['Value'] != 'End':
            dict_person_for_stat[i].append(row['Value'])
        elif 'С инструкцией' in row['Value'] and index != 1:
            dict_person_for_stat[i].append(group)
            dict_person_for_stat[i].append(answers)
            i+=1
    if index == 8802: #чтобы записать последнего челика
        dict_person_for_stat[i].append(group)
        dict_person_for_stat[i].append(answers)

In [10]:
dict_person_for_stat

{0: ['Женщина',
  '22',
  '15',
  'высшее',
  'A',
  {6.0: ['a2', 'a2', -19685],
   1.0: ['a2', 'a3', -9026],
   3.0: ['a1', 'a1', -10743],
   4.0: ['a3', 'a1', -14220],
   5.0: ['a2', 'a2', -13412],
   2.0: ['a2', 'a3', -8495]}],
 1: ['Женщина',
  '18',
  '13',
  'неоконченное высшее',
  'A',
  {3.0: ['a1', 'a1', -9913],
   5.0: ['a2', 'a2', -8019],
   2.0: ['a2', 'a3', -7939],
   1.0: ['a3', 'a3', -10906],
   4.0: ['a1', 'a1', -12476],
   6.0: ['a2', 'a2', -9431]}],
 2: ['Женщина',
  '19',
  '12',
  'неоконченное высшее',
  'B',
  {2.0: ['a3', 'a3', -13235],
   3.0: ['a1', 'a1', -12300],
   4.0: ['a1', 'a1', -13606],
   5.0: ['a2', 'a2', -7116],
   1.0: ['a2', 'a3', -10832],
   6.0: ['a2', 'a2', -10463]}],
 3: ['Женщина',
  '19',
  '13',
  'неоконченное высшее',
  'D',
  {6.0: ['a2', 'a2', -10339],
   2.0: ['a1', 'a1', -9297],
   5.0: ['a2', 'a1', -7869],
   4.0: ['a2', 'a2', -9565],
   1.0: ['a1', 'a3', -13351],
   3.0: ['a2', 'a3', -10315]}],
 4: ['Мужчина',
  '21',
  '13',
  'неоконченное высшее',
  'A',
  {1.0: ['a3', 'a3', -23260],
   5.0: ['a2', 'a2', -14685],
   3.0: ['a1', 'a1', -10044],
   2.0: ['a1', 'a3', -20021],
   6.0: ['a2', 'a2', -8624],
   4.0: ['a1', 'a1', -10417]}],
 5: ['Мужчина',
  '18',
  '11',
  'неоконченное высшее',
  'B',
  {2.0: ['a3', 'a3', -26931],
   6.0: ['a2', 'a2', -13000],
   5.0: ['a2', 'a2', -8311],
   4.0: ['a2', 'a1', -9951],
   3.0: ['a1', 'a1', -8503],
   1.0: ['a2', 'a3', -8887]}],
 6: ['Женщина',
  '19',
  '13',
  'высшее',
  'C',
  {1.0: ['a2', 'a3', -21279],
   3.0: ['a3', 'a3', -36767],
   5.0: ['a2', 'a1', -10891],
   4.0: ['a2', 'a2', -12884],
   2.0: ['a2', 'a1', -10560],
   6.0: ['a2', 'a2', -8836]}],
 7: ['Мужчина',
  '42',
  '15',
  'Высшее',
  'D',
  {2.0: ['a2', 'a1', -15541],
   4.0: ['a2', 'a2', -24941],
   6.0: ['a2', 'a2', -18428],
   5.0: ['a1', 'a1', -42450],
   3.0: ['a3', 'a3', -19654],
   1.0: ['a3', 'a3', -28377]}],
 8: ['D', {}],
 9: ['Женщина',
  '18',
  'NaN',
  'неоконченное высшее%2C 11%2C5',
  'B',
  {6.0: ['a2', 'a2', -9995],
   4.0: ['a2', 'a1', -9188],
   2.0: ['a2', 'a3', -10064],
   5.0: ['a2', 'a2', -9138],
   1.0: ['a2', 'a3', -9108],
   3.0: ['a1', 'a1', -15051]}],
 10: ['Мужчина',
  '42',
  'NaN',
  'неоконченное высшее',
  'C',
  {6.0: ['a3', 'a2', -23433],
   4.0: ['a2', 'a2', -11072],
   3.0: ['a3', 'a3', -14874],
   2.0: ['a1', 'a1', -11003],
   5.0: ['a3', 'a1', -14297],
   1.0: ['a3', 'a3', -18077]}],
 11: ['Женщина',
  '20',
  '13',
  'неоконченное высшее',
  'D',
  {2.0: ['a3', 'a1', -64734],
   4.0: ['a2', 'a2', -19228],
   1.0: ['a2', 'a3', -29968],
   3.0: ['a2', 'a3', -11506],
   6.0: ['a2', 'a2', -11949],
   5.0: ['a2', 'a1', -17501]}],
 12: ['Женщина',
  '20',
  '13',
  'неоконченное высшее',
  'A',
  {2.0: ['a2', 'a3', -16893],
   3.0: ['a1', 'a1', -8406],
   6.0: ['a1', 'a2', -16594],
   5.0: ['a2', 'a2', -6987],
   1.0: ['a2', 'a3', -10019],
   4.0: ['a2', 'a1', -40602]}],
 13: ['Мужчина',
  '50',
  '11',
  'ученая степень',
  'B',
  {4.0: ['a1', 'a1', -15876],
   3.0: ['a1', 'a1', -15899],
   2.0: ['a1', 'a3', -13854],
   6.0: ['a2', 'a2', -13474],
   1.0: ['a2', 'a3', -20268],
   5.0: ['a3', 'a2', -17580]}],
 14: ['Мужчина',
  '49',
  'NaN',
  'Высшее%2C 15%2Cхотя вообще больше%2C можно сказать 18 +работа в образовании (высшем) ',
  'C',
  {6.0: ['a2', 'a2', -52754],
   4.0: ['a3', 'a2', -64537],
   3.0: ['a3', 'a3', -12303],
   1.0: ['a3', 'a3', -17729],
   5.0: ['a1', 'a1', -29325],
   2.0: ['a1', 'a1', -25227]}],
 15: ['Женщина',
  '25',
  'NaN',
  'высшее%2C18',
  'D',
  {5.0: ['a3', 'a1', -14502],
   2.0: ['a3', 'a1', -8681],
   1.0: ['a3', 'a3', -9265],
   6.0: ['a2', 'a2', -10158],
   4.0: ['a3', 'a2', -9850],
   3.0: ['a3', 'a3', -9840]}],
 16: ['Женщина',
  '46',
  '17',
  'высшее',
  'B',
  {1.0: ['a3', 'a3', -12378],
   2.0: ['a3', 'a3', -10132],
   3.0: ['a1', 'a1', -13628],
   4.0: ['a3', 'a1', -10516],
   6.0: ['a3', 'a2', -8423],
   5.0: ['a2', 'a2', -13897]}],
 17: ['Женщина',
  '19',
  '13',
  'неоконченное высшее',
  'C',
  {1.0: ['a3', 'a3', -13454],
   4.0: ['a3', 'a2', -12590],
   3.0: ['a1', 'a3', -12347],
   6.0: ['a2', 'a2', -10635],
   2.0: ['a1', 'a1', -9601],
   5.0: ['a2', 'a1', -9959]}],
 18: ['Женщина',
  '18',
  '13',
  'неоконченное высшее',
  'D',
  {1.0: ['a2', 'a3', -15082],
   5.0: ['a2', 'a1', -11722],
   6.0: ['a2', 'a2', -8777],
   3.0: ['a2', 'a3', -10143],
   2.0: ['a2', 'a1', -9575],
   4.0: ['a2', 'a2', -27295]}],
 19: ['Мужчина',
  '49',
  '19',
  'высшее',
  'D',
  {5.0: ['a2', 'a1', -39359],
   3.0: ['a2', 'a3', -18140],
   6.0: ['a2', 'a2', -12679],
   1.0: ['a3', 'a3', -10399],
   4.0: ['a2', 'a2', -14482],
   2.0: ['a3', 'a1', -11632]}],
 20: ['Женщина',
  '48',
  '15',
  'высшее',
  'D',
  {1.0: ['a2', 'a3', -23624],
   5.0: ['a4', 'a1', -26769],
   4.0: ['a1', 'a2', -19785],
   2.0: ['a1', 'a1', -9021],
   6.0: ['a3', 'a2', -11251],
   3.0: ['a1', 'a3', -10809]}],
 21: ['Мужчина',
  '49',
  '14',
  'высшее',
  'C',
  {2.0: ['a1', 'a1', -21759],
   6.0: ['a4', 'a2', -18304],
   4.0: ['a2', 'a2', -12549],
   3.0: ['a1', 'a3', -13167],
   5.0: ['a1', 'a1', -12831],
   1.0: ['a3', 'a3', -23024]}],
 22: ['Женщина',
  '44',
  '18',
  'высшее',
  'D',
  {3.0: ['a4', 'a3', -10472],
   4.0: ['a1', 'a2', -23511],
   6.0: ['a1', 'a2', -14403],
   5.0: ['a1', 'a1', -11303],
   2.0: ['a1', 'a1', -13439],
   1.0: ['a1', 'a3', -9375]}],
 23: ['Женщина',
  '50',
  '15',
  'высшее',
  'A',
  {3.0: ['a1', 'a1', -15480],
   2.0: ['a1', 'a3', -12184],
   4.0: ['a1', 'a1', -10866],
   5.0: ['a2', 'a2', -10247],
   6.0: ['a2', 'a2', -8879],
   1.0: ['a1', 'a3', -8143]}],
 24: ['Женщина',
  '51',
  '15',
  'высшее',
  'B',
  {1.0: ['a1', 'a3', -41999],
   4.0: ['a4', 'a1', -37276],
   5.0: ['a1', 'a2', -20543],
   6.0: ['a1', 'a2', -16549],
   3.0: ['a1', 'a1', -19072],
   2.0: ['a1', 'a3', -16927]}],
 25: ['Женщина',
  '45',
  'NaN',
  'высшее',
  'B',
  {2.0: ['a1', 'a3', -10989],
   4.0: ['a1', 'a1', -16894],
   6.0: ['a1', 'a2', -10807],
   1.0: ['a2', 'a3', -16511],
   5.0: ['a2', 'a2', -12848],
   3.0: ['a1', 'a1', -14302]}],
 26: ['Женщина',
  '20',
  'NaN',
  'Неоконченное высшее%2C 13%2C5',
  'D',
  {6.0: ['a2', 'a2', -16096],
   2.0: ['a3', 'a1', -10729],
   1.0: ['a3', 'a3', -10826],
   3.0: ['a3', 'a3', -9269],
   5.0: ['a1', 'a1', -18726],
   4.0: ['a3', 'a2', -11056]}],
 27: ['Женщина',
  '47',
  '15',
  'высшее',
  'A',
  {2.0: ['a2', 'a3', -9559],
   4.0: ['a1', 'a1', -9806],
   3.0: ['a1', 'a1', -10721],
   5.0: ['a2', 'a2', -7413],
   6.0: ['a2', 'a2', -7423],
   1.0: ['a2', 'a3', -8852]}],
 28: ['Женщина',
  '22',
  '15',
  'высшее',
  'B',
  {6.0: ['a2', 'a2', -15356],
   4.0: ['a1', 'a1', -14071],
   2.0: ['a1', 'a3', -8203],
   5.0: ['a1', 'a2', -8303],
   1.0: ['a1', 'a3', -14163],
   3.0: ['a1', 'a1', -7085]}],
 29: ['Женщина',
  '35',
  'NaN',
  'Высшее%2C16',
  'C',
  {4.0: ['a2', 'a2', -12634],
   5.0: ['a2', 'a1', -9549],
   3.0: ['a1', 'a3', -9999],
   6.0: ['a2', 'a2', -8029],
   2.0: ['a1', 'a1', -8917],
   1.0: ['a2', 'a3', -9431]}],
 30: ['Женщина',
  '39',
  '18',
  'Высшее',
  'D',
  {6.0: ['a1', 'a2', -41880],
   3.0: ['a2', 'a3', -15541],
   2.0: ['a2', 'a1', -30213],
   1.0: ['a2', 'a3', -9033],
   5.0: ['a3', 'a1', -9859],
   4.0: ['a3', 'a2', -14433]}],
 31: ['Женщина',
  '20',
  '13',
  'неоконченное высшее',
  'B',
  {2.0: ['a2', 'a3', -16544],
   5.0: ['a2', 'a2', -12609],
   4.0: ['a2', 'a1', -17628],
   3.0: ['a1', 'a1', -13841],
   1.0: ['a2', 'a3', -9781],
   6.0: ['a2', 'a2', -8984]}],
 32: ['Женщина',
  '22',
  '15',
  'высшее',
  'C',
  {2.0: ['a3', 'a1', -19700],
   5.0: ['a3', 'a1', -10814],
   1.0: ['a3', 'a3', -11300],
   3.0: ['a1', 'a3', -7718],
   6.0: ['a2', 'a2', -11804],
   4.0: ['a2', 'a2', -15511]}],
 33: ['Женщина',
  '59',
  '15',
  'Высшее',
  'D',
  {2.0: ['a1', 'a1', -28681],
   1.0: ['a2', 'a3', -18976],
   5.0: ['a2', 'a1', -17635],
   6.0: ['a2', 'a2', -12380],
   3.0: ['a2', 'a3', -11298],
   4.0: ['a2', 'a2', -21431]}],
 34: ['Женщина',
  '62',
  '15',
  'Высшее',
  'A',
  {4.0: ['a4', 'a1', -18121],
   1.0: ['a1', 'a3', -15427],
   5.0: ['a2', 'a2', -12791],
   3.0: ['a1', 'a1', -10751],
   2.0: ['a1', 'a3', -10991],
   6.0: ['a3', 'a2', -16311]}],
 35: ['Женщина',
  '52',
  'NaN',
  'Средне специальное образование ',
  'B',
  {6.0: ['a1', 'a2', -29574],
   3.0: ['a1', 'a1', -29318],
   4.0: ['a1', 'a1', -28511],
   2.0: ['a1', 'a3', -15228],
   1.0: ['a1', 'a3', -15954],
   5.0: ['a2', 'a2', -16792]}],
 36: ['Женщина',
  '52',
  'NaN',
  'Высшее%2C15',
  'C',
  {2.0: ['a1', 'a1', -26401],
   1.0: ['a4', 'a3', -21110],
   6.0: ['a1', 'a2', -17961],
   4.0: ['a1', 'a2', -18817],
   5.0: ['a1', 'a1', -10404],
   3.0: ['a1', 'a3', -10042]}],
 37: ['Женщина',
  '48',
  'NaN',
  '19',
  'D',
  {6.0: ['a2', 'a2', -22239],
   3.0: ['a2', 'a3', -14615],
   2.0: ['a2', 'a1', -12638],
   5.0: ['a2', 'a1', -9282],
   1.0: ['a2', 'a3', -10913],
   4.0: ['a2', 'a2', -11691]}],
 38: ['Женщина',
  '37',
  '16',
  'Высшее',
  'D',
  {4.0: ['a2', 'a2', -44514],
   3.0: ['a2', 'a3', -16719],
   6.0: ['a2', 'a2', -11928],
   1.0: ['a2', 'a3', -17373],
   5.0: ['a3', 'a1', -13486],
   2.0: ['a2', 'a1', -13559]}],
 39: ['Женщина',
  '44',
  '15',
  'Высшее',
  'A',
  {3.0: ['a1', 'a1', -13516],
   5.0: ['a1', 'a2', -11770],
   4.0: ['a1', 'a1', -41505],
   1.0: ['a1', 'a3', -15592],
   6.0: ['a1', 'a2', -10440],
   2.0: ['a1', 'a3', -21037]}],
 40: ['Женщина',
  '41',
  'NaN',
  'Высшее%2C15',
  'D',
  {6.0: ['a2', 'a2', -11661],
   4.0: ['a2', 'a2', -14820],
   5.0: ['a2', 'a1', -8366],
   1.0: ['a2', 'a3', -8887],
   3.0: ['a2', 'a3', -9649],
   2.0: ['a2', 'a1', -8309]}],
 41: ['Женщина',
  '36',
  '16',
  'Высшее',
  'D',
  {1.0: ['a2', 'a3', -14379],
   6.0: ['a2', 'a2', -16211],
   4.0: ['a2', 'a2', -21981],
   3.0: ['a2', 'a3', -14537],
   2.0: ['a2', 'a1', -12424],
   5.0: ['a2', 'a1', -11454]}],
 42: ['Женщина',
  '39',
  '17',
  'Средне специальное',
  'B',
  {3.0: ['a1', 'a1', -53694],
   6.0: ['a2', 'a2', -22881],
   4.0: ['a2', 'a1', -36967],
   2.0: ['a2', 'a3', -18638],
   5.0: ['a2', 'a2', -13950],
   1.0: ['a2', 'a3', -13814]}],
 43: ['Женщина',
  '60',
  '15',
  'Высшее',
  'C',
  {2.0: ['a2', 'a1', -39746],
   6.0: ['a2', 'a2', -11402],
   3.0: ['a2', 'a3', -12476],
   1.0: ['a2', 'a3', -24301],
   5.0: ['a1', 'a1', -33611],
   4.0: ['a2', 'a2', -14261]}],
 44: ['Мужчина',
  '24',
  '17',
  'высшее',
  'D',
  {6.0: ['a2', 'a2', -14575],
   5.0: ['a3', 'a1', -23537],
   1.0: ['a2', 'a3', -24123],
   3.0: ['a2', 'a3', -8180],
   4.0: ['a2', 'a2', -13137],
   2.0: ['a3', 'a1', -12079]}],
 45: ['Женщина',
  '57',
  'NaN',
  'Высшее%2C15',
  'A',
  {3.0: ['a1', 'a1', -20895],
   6.0: ['a2', 'a2', -9696],
   2.0: ['a1', 'a3', -10691],
   1.0: ['a2', 'a3', -10341],
   5.0: ['a2', 'a2', -9847],
   4.0: ['a1', 'a1', -13601]}],
 46: ['Женщина',
  '42',
  '17',
  'высшее',
  'B',
  {1.0: ['a1', 'a3', -27282],
   5.0: ['a2', 'a2', -12191],
   3.0: ['a1', 'a1', -49990],
   6.0: ['a2', 'a2', -19278],
   4.0: ['a2', 'a1', -15198],
   2.0: ['a2', 'a3', -10328]}],
 47: ['Мужчина',
  '19',
  '12',
  'Неоконченное высшее',
  'C',
  {4.0: ['a3', 'a2', -10929],
   2.0: ['a1', 'a1', -8468],
   6.0: ['a2', 'a2', -10877],
   5.0: ['a1', 'a1', -8372],
   3.0: ['a1', 'a3', -10028],
   1.0: ['a2', 'a3', -10971]}],
 48: ['Женщина',
  '37',
  '17',
  '2 высших',
  'D',
  {5.0: ['a1', 'a1', -20476],
   4.0: ['a4', 'a2', -20395],
   1.0: ['a2', 'a3', -10887],
   6.0: ['a2', 'a2', -9151],
   3.0: ['a2', 'a3', -11553],
   2.0: ['a2', 'a1', -10434]}],
 49: ['Женщина',
  '72',
  'NaN',
  'Высшее',
  'A',
  {6.0: ['a3', 'a2', -14054],
   2.0: ['a1', 'a3', -15281],
   5.0: ['a4', 'a2', -21931],
   3.0: ['a1', 'a1', -12524],
   1.0: ['a1', 'a3', -15846],
   4.0: ['a3', 'a1', -32741]}],
 50: ['Мужчина',
  '39',
  'NaN',
  'Высшее%2C15',
  'C',
  {5.0: ['a1', 'a1', -26979],
   1.0: ['a2', 'a3', -15816],
   3.0: ['a1', 'a3', -14395],
   2.0: ['a1', 'a1', -13274],
   4.0: ['a2', 'a2', -13088],
   6.0: ['a2', 'a2', -14204]}],
 51: ['Мужчина',
  '20',
  '15',
  'неоконченное высшее',
  'A',
  {3.0: ['a1', 'a1', -16071],
   1.0: ['a3', 'a3', -10457],
   2.0: ['a3', 'a3', -9372],
   4.0: ['a1', 'a1', -13132],
   5.0: ['a3', 'a2', -8453],
   6.0: ['a3', 'a2', -10605]}],
 52: ['Женщина',
  '16',
  '9',
  'среднее',
  'A',
  {4.0: ['a1', 'a1', -13423],
   5.0: ['a2', 'a2', -13313],
   2.0: ['a2', 'a3', -10671],
   1.0: ['a2', 'a3', -13383],
   6.0: ['a2', 'a2', -9114],
   3.0: ['a1', 'a1', -9457]}],
 53: ['Мужчина',
  '20',
  '13',
  'неоконченное высшее',
  'A',
  {1.0: ['a2', 'a3', -10003],
   2.0: ['a2', 'a3', -12069],
   5.0: ['a2', 'a2', -8253],
   6.0: ['a2', 'a2', -8446],
   3.0: ['a1', 'a1', -10883],
   4.0: ['a1', 'a1', -12723]}],
 54: ['Женщина',
  '18',
  '14',
  'Неоконченное высшее',
  'A',
  {6.0: ['a2', 'a2', -8753],
   2.0: ['a2', 'a3', -10192],
   4.0: ['a1', 'a1', -11737],
   3.0: ['a1', 'a1', -9978],
   1.0: ['a2', 'a3', -9930],
   5.0: ['a3', 'a2', -12158]}],
 55: ['Мужчина',
  '18',
  'NaN',
  'неоконченное высшее%2C13',
  'A',
  {3.0: ['a2', 'a1', -21917],
   5.0: ['a2', 'a2', -14272],
   2.0: ['a2', 'a3', -8427],
   4.0: ['a3', 'a1', -24602],
   6.0: ['a2', 'a2', -14660],
   1.0: ['a3', 'a3', -13993]}],
 56: ['Мужчина',
  '19',
  '13',
  'неоконченное высшее',
  'C',
  {4.0: ['a3', 'a2', -13120],
   2.0: ['a3', 'a1', -8120],
   1.0: ['a3', 'a3', -12224],
   3.0: ['a3', 'a3', -8318],
   5.0: ['a3', 'a1', -7527],
   6.0: ['a3', 'a2', -6903]}],
 57: ['Женщина',
  '20',
  '14',
  'неоконченное высшее',
  'D',
  {1.0: ['a2', 'a3', -15688],
   4.0: ['a2', 'a2', -14456],
   6.0: ['a2', 'a2', -18455],
   2.0: ['a2', 'a1', -21190],
   5.0: ['a2', 'a1', -15288],
   3.0: ['a2', 'a3', -10955]}],
 58: ['Женщина',
  '40',
  '19',
  'высшее',
  'A',
  {2.0: ['a1', 'a3', -12197],
   4.0: ['a2', 'a1', -15128],
   5.0: ['a2', 'a2', -13142],
   1.0: ['a2', 'a3', -9953],
   3.0: ['a2', 'a1', -11921],
   6.0: ['a2', 'a2', -9882]}],
 59: ['Женщина',
  '22',
  'NaN',
  'Бакалавриат',
  'B',
  {3.0: ['a1', 'a1', -26161],
   5.0: ['a4', 'a2', -23492],
   2.0: ['a4', 'a3', -23783],
   4.0: ['a1', 'a1', -22828],
   1.0: ['a2', 'a3', -11136],
   6.0: ['a2', 'a2', -11673]}],
 60: ['Женщина',
  '20',
  '15',
  'высшее',
  'C',
  {5.0: ['a2', 'a1', -15094],
   2.0: ['a3', 'a1', -12302],
   6.0: ['a2', 'a2', -12240],
   4.0: ['a2', 'a2', -12237],
   3.0: ['a3', 'a3', -13237],
   1.0: ['a2', 'a3', -13799]}],
 61: ['Мужчина',
  '20',
  'NaN',
  'неоконченное высшее',
  'D',
  {2.0: ['a1', 'a1', -15232],
   5.0: ['a1', 'a1', -12536],
   3.0: ['a3', 'a3', -15725],
   1.0: ['a3', 'a3', -10085],
   4.0: ['a2', 'a2', -19775],
   6.0: ['a2', 'a2', -10332]}],
 62: ['Мужчина',
  '20',
  '14',
  'среднее',
  'D',
  {6.0: ['a2', 'a2', -10350],
   5.0: ['a2', 'a1', -8779],
   1.0: ['a2', 'a3', -8638],
   4.0: ['a2', 'a2', -9657],
   2.0: ['a2', 'a1', -6594],
   3.0: ['a2', 'a3', -9859]}],
 63: ['Мужчина',
  '21',
  '14',
  'Неоконечнное высшее',
  'A',
  {2.0: ['a2', 'a3', -12432],
   3.0: ['a2', 'a1', -9632],
   6.0: ['a2', 'a2', -8201],
   4.0: ['a2', 'a1', -10867],
   5.0: ['a2', 'a2', -8498],
   1.0: ['a2', 'a3', -7716]}],
 64: ['Мужчина',
  '19',
  '13',
  'среднее',
  'B',
  {6.0: ['a3', 'a2', -12406],
   1.0: ['a2', 'a3', -12959],
   4.0: ['a2', 'a1', -10479],
   5.0: ['a2', 'a2', -9231],
   2.0: ['a2', 'a3', -10678],
   3.0: ['a1', 'a1', -8351]}],
 65: ['Мужчина',
  '43',
  'NaN',
  'среднее',
  'D',
  {2.0: ['a2', 'a1', -13782],
   4.0: ['a2', 'a2', -12216],
   1.0: ['a2', 'a3', -9984],
   3.0: ['a2', 'a3', -10232],
   5.0: ['a2', 'a1', -9064],
   6.0: ['a2', 'a2', -8936]}],
 66: ['Женщина',
  '41',
  'NaN',
  'Высшее17',
  'D',
  {3.0: ['a1', 'a3', -10880],
   4.0: ['a1', 'a2', -11039],
   5.0: ['a1', 'a1', -7721],
   2.0: ['a1', 'a1', -8141],
   6.0: ['a1', 'a2', -11020],
   1.0: ['a1', 'a3', -7637]}],
 67: ['Мужчина',
  '20',
  '13',
  'студент',
  'B',
  {1.0: ['a3', 'a3', -42390],
   6.0: ['a3', 'a2', -14720],
   2.0: ['a3', 'a3', -10059],
   4.0: ['a3', 'a1', -14599],
   5.0: ['a3', 'a2', -11622],
   3.0: ['a3', 'a1', -12816]}],
 68: ['Мужчина',
  '21',
  '14',
  'неоконченное высшее',
  'B',
  {4.0: ['a3', 'a1', -12087],
   3.0: ['a1', 'a1', -9433],
   1.0: ['a3', 'a3', -8384],
   5.0: ['a2', 'a2', -9629],
   2.0: ['a3', 'a3', -11417],
   6.0: ['a3', 'a2', -10017]}],
 69: ['Мужчина',
  '20',
  '13',
  'высшее',
  'B',
  {1.0: ['a2', 'a3', -27283],
   3.0: ['a3', 'a1', -14254],
   2.0: ['a3', 'a3', -9941],
   4.0: ['a1', 'a1', -16527],
   5.0: ['a2', 'a2', -10221],
   6.0: ['a2', 'a2', -8706]}],
 70: ['Мужчина',
  '19',
  '14',
  'неоконченное высшее',
  'B',
  {1.0: ['a3', 'a3', -28432],
   4.0: ['a3', 'a1', -20089],
   2.0: ['a3', 'a3', -14612],
   3.0: ['a3', 'a1', -10641],
   5.0: ['a3', 'a2', -10905],
   6.0: ['a3', 'a2', -12552]}],
 71: ['Женщина',
  '40',
  '19',
  'Высшее',
  'C',
  {4.0: ['a1', 'a2', -33965],
   1.0: ['a1', 'a3', -17738],
   3.0: ['a1', 'a3', -12701],
   6.0: ['a2', 'a2', -22383],
   5.0: ['a1', 'a1', -15739],
   2.0: ['a1', 'a1', -13973]}],
 72: ['Мужчина',
  '20',
  '14',
  'неоконченное высшее',
  'C',
  {3.0: ['a1', 'a3', -27241],
   2.0: ['a3', 'a1', -14916],
   5.0: ['a1', 'a1', -8761],
   1.0: ['a2', 'a3', -12932],
   6.0: ['a2', 'a2', -10507],
   4.0: ['a2', 'a2', -14419]}],
 73: ['Мужчина',
  '45',
  '15',
  'оконченное высшее',
  'B',
  {4.0: ['a1', 'a1', -10862],
   5.0: ['a1', 'a2', -10278],
   3.0: ['a2', 'a1', -8801],
   1.0: ['a3', 'a3', -9631],
   2.0: ['a1', 'a3', -8544],
   6.0: ['a2', 'a2', -8877]}],
 74: ['Мужчина',
  '19',
  '19',
  'неоконченное высшее',
  'B',
  {1.0: ['a2', 'a3', -17929],
   6.0: ['a2', 'a2', -9460],
   5.0: ['a2', 'a2', -10233],
   2.0: ['a2', 'a3', -9009],
   4.0: ['a4', 'a1', -10927],
   3.0: ['a1', 'a1', -10378]}],
 75: ['Мужчина',
  '22',
  '15',
  'высшее',
  'A',
  {6.0: ['a2', 'a2', -11708],
   4.0: ['a2', 'a1', -11191],
   3.0: ['a2', 'a1', -10902],
   1.0: ['a2', 'a3', -7839],
   5.0: ['a2', 'a2', -8901],
   2.0: ['a2', 'a3', -8148]}],
 76: ['Мужчина',
  '30',
  'NaN',
  'кандидат всех наук',
  'B',
  {2.0: ['a3', 'a3', -19267],
   1.0: ['a3', 'a3', -7965],
   3.0: ['a1', 'a1', -10247],
   5.0: ['a2', 'a2', -10902],
   6.0: ['a2', 'a2', -8182],
   4.0: ['a2', 'a1', -12916]}],
 77: ['Женщина',
  '20',
  '20',
  'неоконченное высшее',
  'C',
  {6.0: ['a2', 'a2', -10752],
   4.0: ['a1', 'a2', -12359],
   3.0: ['a2', 'a3', -11765],
   5.0: ['a1', 'a1', -12617],
   2.0: ['a2', 'a1', -18389],
   1.0: ['a1', 'a3', -8816]}],
 78: ['Мужчина',
  '21',
  '14',
  'высшее',
  'D',
  {3.0: ['a2', 'a3', -26015],
   5.0: ['a4', 'a1', -19999],
   4.0: ['a2', 'a2', -20980],
   6.0: ['a2', 'a2', -10798],
   2.0: ['a2', 'a1', -14019],
   1.0: ['a2', 'a3', -9498]}],
 79: ['Женщина',
  '43',
  'NaN',
  'Высшее%2C11',
  'A',
  {1.0: ['a1', 'a3', -16503],
   2.0: ['a1', 'a3', -13052],
   5.0: ['a3', 'a2', -17342],
   3.0: ['a1', 'a1', -11153],
   4.0: ['a4', 'a1', -17747],
   6.0: ['a2', 'a2', -11262]}],
 80: ['Мужчина',
  '63',
  '10',
  'Среднее',
  'B',
  {1.0: ['a2', 'a3', -19407],
   4.0: ['a1', 'a1', -23023],
   5.0: ['a2', 'a2', -15796],
   3.0: ['a2', 'a1', -21618],
   6.0: ['a2', 'a2', -14077],
   2.0: ['a1', 'a3', -15123]}],
 81: ['Женщина',
  '39',
  '15',
  'Высшее',
  'C',
  {3.0: ['a1', 'a3', -20757],
   6.0: ['a4', 'a2', -15523],
   4.0: ['a2', 'a2', -22235],
   5.0: ['a3', 'a1', -15972],
   2.0: ['a2', 'a1', -11811],
   1.0: ['a2', 'a3', -13797]}],
 82: ['Женщина',
  '65',
  '15',
  'Высшее',
  'C',
  {3.0: ['a1', 'a3', -18835],
   2.0: ['a1', 'a1', -22380],
   6.0: ['a1', 'a2', -20099],
   4.0: ['a1', 'a2', -17725],
   5.0: ['a1', 'a1', -11211],
   1.0: ['a2', 'a3', -20860]}],
 83: ['Женщина',
  '60',
  'NaN',
  'Высшее',
  'A',
  {6.0: ['a2', 'a2', -13304],
   2.0: ['a1', 'a3', -11695],
   4.0: ['a1', 'a1', -23712],
   1.0: ['a2', 'a3', -13176],
   3.0: ['a1', 'a1', -13463],
   5.0: ['a2', 'a2', -9256]}],
 84: ['Женщина',
  '38',
  '16',
  'Высшее',
  'A',
  {4.0: ['a4', 'a1', -15920],

In [12]:
Gender = []
Age = []
age_ed = []
education = []
Group = []
answers = []

for key, value in dict_person_for_stat.items():
    if len(value) > 2:
        Gender.append(value[0])
        Age.append(value[1])
        age_ed.append(value[2])
        education.append(value[3])
        Group.append(value[4])
        answers.append(value[5])

In [13]:
df_for_stat = pd.DataFrame(list(zip(Gender, Age, age_ed, education, Group, answers)),
               columns =['Gender', 'Age', 'age_ed', 'education', 'Group', 'answers'])

In [14]:
df_for_stat

,Gender,Age,age_ed,education,Group,answers
0,Женщина,22,15,высшее,A,"{6.0: ['a2', 'a2', -19685], 1.0: ['a2', 'a3', ..."
1,Женщина,18,13,неоконченное высшее,A,"{3.0: ['a1', 'a1', -9913], 5.0: ['a2', 'a2', -..."
2,Женщина,19,12,неоконченное высшее,B,"{2.0: ['a3', 'a3', -13235], 3.0: ['a1', 'a1', ..."
3,Женщина,19,13,неоконченное высшее,D,"{6.0: ['a2', 'a2', -10339], 2.0: ['a1', 'a1', ..."
4,Мужчина,21,13,неоконченное высшее,A,"{1.0: ['a3', 'a3', -23260], 5.0: ['a2', 'a2', ..."
...,...,...,...,...,...,...
138,Мужчина,29,NaN,Высшее,C,"{5.0: ['a2', 'a1', -14612], 6.0: ['a1', 'a2', ..."
139,Женщина,37,15,Среднее специальное,D,"{3.0: ['a4', 'a3', -17402], 1.0: ['a1', 'a3', ..."
140,Мужчина,36,15,Среднее-специальное,A,"{1.0: ['a2', 'a3', -13060], 3.0: ['a1', 'a1', ..."
141,Мужчина,21,NaN,15,C,"{3.0: ['a2', 'a3', -11621], 1.0: ['a2', 'a3', ..."
142,Мужчина,23,13,неоконченное высшее,D,"{6.0: ['a3', 'a2', -18524], 2.0: ['a2', 'a1', ..."

In [15]:
df_for_stat.to_excel("output_for_stat.xlsx")

In [16]:
df_for_stat = pd.read_excel('output_for_stat_clean.xlsx') #ручками почистить образование

In [17]:
df_for_stat

,Gender,Age,age_ed,education,Group,answers
0,Женщина,22,15.0,высшее,A,"{6.0: ['a2', 'a2', 19685.0], 1.0: ['a2', 'a3',..."
1,Женщина,18,13.0,неоконченное высшее,A,"{3.0: ['a1', 'a1', 9913.0], 5.0: ['a2', 'a2', ..."
2,Женщина,19,12.0,неоконченное высшее,B,"{2.0: ['a3', 'a3', 13235.0], 3.0: ['a1', 'a1',..."
3,Женщина,19,13.0,неоконченное высшее,D,"{6.0: ['a2', 'a2', 10339.0], 2.0: ['a1', 'a1',..."
4,Мужчина,21,13.0,неоконченное высшее,A,"{1.0: ['a3', 'a3', 23260.0], 5.0: ['a2', 'a2',..."
...,...,...,...,...,...,...
138,Мужчина,29,NaN,Высшее,C,"{5.0: ['a2', 'a1', 14612.0], 6.0: ['a1', 'a2',..."
139,Женщина,37,15.0,Среднее специальное,D,"{3.0: ['a4', 'a3', 17402.0], 1.0: ['a1', 'a3',..."
140,Мужчина,36,15.0,Среднее-специальное,A,"{1.0: ['a2', 'a3', 13060.0], 3.0: ['a1', 'a1',..."
141,Мужчина,21,15.0,высшее,C,"{3.0: ['a2', 'a3', 11621.0], 1.0: ['a2', 'a3',..."
142,Мужчина,23,13.0,неоконченное высшее,D,"{6.0: ['a3', 'a2', 18524.0], 2.0: ['a2', 'a1',..."

In [18]:
df_for_stat['Age'] = df_for_stat['Age'].astype(int)

Всё по возрасту

In [19]:
df_for_stat['Age'].mean()

36.40559440559441

In [20]:
df_for_stat['Age'].median()

38.0

In [21]:
df_for_stat['Age'].std()

15.232118476133069

In [22]:
df_for_stat['Age'].mode()

0    20
Name: Age, dtype: int32

In [23]:
##ничего не работает, хотя я так всегда считаю chi... может, он и не нужен здесь?
# exp = np.full((1, 140), 50, dtype=int)

# from scipy.stats import chisquare
# chisquare(f_obs=age, f_exp=exp)

По гендеру только количество мужчин и женщин

In [24]:
df_for_stat['Gender'].value_counts()

Женщина    83
Мужчина    60
Name: Gender, dtype: int64

Теперь работать с ответами

In [34]:
q1 = []
q2 = []
q3 = []
q4 = []
q5 = []
q6 = []
q1_p = []
q2_p = []
q3_p = []
q4_p = []
q5_p = []
q6_p = []
t1 = []
t2 = []
t3 = []
t4 = []
t5 = []
t6 = []

for index, row in df_for_stat.iterrows():
    r = eval(row['answers'])
    
    for element in r:
        
        answ = r[element]
        
        if int(float(element)) == 1:
            q1.append(answ[0])
            t1.append(answ[2])
            if answ[0] == answ[1]:
                q1_p.append(1)
            else:
                q1_p.append(0)
        elif int(float(element)) == 2:
            q2.append(answ[0])
            t2.append(answ[2])
            if answ[0] == answ[1]:
                q2_p.append(1)
            else:
                q2_p.append(0)
        elif int(float(element)) == 3:
            q3.append(answ[0])
            t3.append(answ[2])
            if answ[0] == answ[1]:
                q3_p.append(1)
            else:
                q3_p.append(0)
        elif int(float(element)) == 4:
            q4.append(answ[0])
            t4.append(answ[2])
            if answ[0] == answ[1]:
                q4_p.append(1)
            else:
                q4_p.append(0)
        elif int(float(element)) == 5:
            q5.append(answ[0])
            t5.append(answ[2])
            if answ[0] == answ[1]:
                q5_p.append(1)
            else:
                q5_p.append(0)
        else:
            q6.append(answ[0])
            t6.append(answ[2])
            if answ[0] == answ[1]:
                q6_p.append(1)
            else:
                q6_p.append(0)

In [35]:
df_for_stat['q_1'] = q1
df_for_stat['q_2'] = q2
df_for_stat['q_3'] = q3
df_for_stat['q_4'] = q4
df_for_stat['q_5'] = q5
df_for_stat['q_6'] = q6
df_for_stat['q_1_p'] = q1_p
df_for_stat['q_2_p'] = q2_p
df_for_stat['q_3_p'] = q3_p
df_for_stat['q_4_p'] = q4_p
df_for_stat['q_5_p'] = q5_p
df_for_stat['q_6_p'] = q6_p
df_for_stat['t_1'] = t1
df_for_stat['t_2'] = t2
df_for_stat['t_3'] = t3
df_for_stat['t_4'] = t4
df_for_stat['t_5'] = t5
df_for_stat['t_6'] = t6

In [36]:
df_for_stat

,Gender,Age,age_ed,education,Group,answers,q_1,q_2,q_3,q_4,...,q_3_p,q_4_p,q_5_p,q_6_p,t_1,t_2,t_3,t_4,t_5,t_6
0,Женщина,22,15.0,высшее,A,"{6.0: ['a2', 'a2', 19685.0], 1.0: ['a2', 'a3',...",a2,a2,a1,a3,...,1,0,1,1,9026.0,8495.0,10743.0,14220.0,13412.0,19685.0
1,Женщина,18,13.0,неоконченное высшее,A,"{3.0: ['a1', 'a1', 9913.0], 5.0: ['a2', 'a2', ...",a3,a2,a1,a1,...,1,1,1,1,10906.0,7939.0,9913.0,12476.0,8019.0,9431.0
2,Женщина,19,12.0,неоконченное высшее,B,"{2.0: ['a3', 'a3', 13235.0], 3.0: ['a1', 'a1',...",a2,a3,a1,a1,...,1,1,1,1,10832.0,13235.0,12300.0,13606.0,7116.0,10463.0
3,Женщина,19,13.0,неоконченное высшее,D,"{6.0: ['a2', 'a2', 10339.0], 2.0: ['a1', 'a1',...",a1,a1,a2,a2,...,0,1,0,1,13351.0,9297.0,10315.0,9565.0,7869.0,10339.0
4,Мужчина,21,13.0,неоконченное высшее,A,"{1.0: ['a3', 'a3', 23260.0], 5.0: ['a2', 'a2',...",a3,a1,a1,a1,...,1,1,1,1,23260.0,20021.0,10044.0,10417.0,14685.0,8624.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,Мужчина,29,NaN,Высшее,C,"{5.0: ['a2', 'a1', 14612.0], 6.0: ['a1', 'a2',...",a2,a2,a2,a2,...,0,1,0,0,19586.0,17454.0,12962.0,12942.0,14612.0,10900.0
139,Женщина,37,15.0,Среднее специальное,D,"{3.0: ['a4', 'a3', 17402.0], 1.0: ['a1', 'a3',...",a1,a1,a4,a1,...,0,0,1,1,13298.0,13871.0,17402.0,14750.0,9698.0,9883.0
140,Мужчина,36,15.0,Среднее-специальное,A,"{1.0: ['a2', 'a3', 13060.0], 3.0: ['a1', 'a1',...",a2,a1,a1,a2,...,1,0,1,0,13060.0,9061.0,18019.0,13842.0,10143.0,8136.0
141,Мужчина,21,15.0,высшее,C,"{3.0: ['a2', 'a3', 11621.0], 1.0: ['a2', 'a3',...",a2,a1,a2,a2,...,0,1,0,1,11773.0,12697.0,11621.0,9137.0,8921.0,9000.0
142,Мужчина,23,13.0,неоконченное высшее,D,"{6.0: ['a3', 'a2', 18524.0], 2.0: ['a2', 'a1',...",a2,a2,a2,a2,...,0,1,0,0,10013.0,14877.0,9045.0,16989.0,14184.0,18524.0

Штуки по правильным ответам. Если значения высокие, значит пользователи шли за контекстом и ориентировались именно на него

In [48]:
df_for_stat.mean()

C:\Users\пользователь\AppData\Local\Temp\ipykernel_2488\3893505765.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_for_stat.mean()

Age       36.864286
age_ed    15.283333
q_1_p      0.214286
q_2_p      0.314286
q_3_p      0.492857
q_4_p      0.521429
q_5_p      0.542857
q_6_p      0.685714
dtype: float64

In [49]:
df_for_stat.std()

C:\Users\пользователь\AppData\Local\Temp\ipykernel_2488\375359819.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_for_stat.std()

Age       15.267029
age_ed     3.462120
q_1_p      0.411799
q_2_p      0.465898
q_3_p      0.501744
q_4_p      0.501334
q_5_p      0.499949
q_6_p      0.465898
dtype: float64

In [80]:
df_for_stat.groupby('Group')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].mean()

          q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Group
A      0.242424  0.121212  0.727273  0.484848  0.666667  0.636364
B      0.190476  0.261905  0.785714  0.428571  0.690476  0.619048
C      0.206897  0.586207  0.241379  0.586207  0.482759  0.724138
D      0.222222  0.333333  0.138889  0.611111  0.305556  0.777778

In [88]:
df_for_stat.groupby('Group')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].std()

          q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Group
A      0.435194  0.331434  0.452267  0.507519  0.478714  0.488504
B      0.397437  0.445001  0.415300  0.500870  0.467901  0.491507
C      0.412251  0.501230  0.435494  0.501230  0.508548  0.454859
D      0.421637  0.478091  0.350736  0.494413  0.467177  0.421637

In [68]:
df_for_stat.groupby('Group')[['q_1']].value_counts()

Group  q_1
A      'a2'    16
       'a1'     8
       'a3'     8
       'a4'     1
B      'a2'    23
       'a1'    10
       'a3'     8
       'a4'     1
C      'a2'    18
       'a3'     6
       'a1'     4
       'a4'     1
D      'a2'    21
       'a3'     8
       'a1'     5
       'a4'     2
dtype: int64

In [69]:
df_for_stat.groupby('Group')[['q_2']].value_counts()

Group  q_2
A      'a2'    15
       'a1'    13
       'a3'     4
       'a4'     1
B      'a1'    14
       'a2'    14
       'a3'    11
       'a4'     3
C      'a1'    17
       'a2'     7
       'a3'     5
D      'a2'    18
       'a1'    12
       'a3'     6
dtype: int64

In [70]:
df_for_stat.groupby('Group')[['q_3']].value_counts()

Group  q_3
A      'a1'    24
       'a2'     6
       'a3'     2
       'a4'     1
B      'a1'    33
       'a2'     4
       'a3'     4
       'a4'     1
C      'a1'    14
       'a2'     8
       'a3'     7
D      'a2'    25
       'a1'     5
       'a3'     5
       'a4'     1
dtype: int64

In [71]:
df_for_stat.groupby('Group')[['q_4']].value_counts()

Group  q_4
A      'a1'    16
       'a4'     7
       'a2'     6
       'a3'     4
B      'a1'    18
       'a2'    12
       'a3'     7
       'a4'     5
C      'a2'    17
       'a1'     6
       'a3'     4
       'a4'     2
D      'a2'    22
       'a1'     7
       'a3'     5
       'a4'     2
dtype: int64

In [72]:
df_for_stat.groupby('Group')[['q_5']].value_counts()

Group  q_5
A      'a2'    22
       'a3'     5
       'a1'     4
       'a4'     2
B      'a2'    29
       'a1'     5
       'a3'     4
       'a4'     4
C      'a1'    14
       'a2'    10
       'a3'     5
D      'a2'    18
       'a1'    11
       'a3'     5
       'a4'     2
dtype: int64

In [73]:
df_for_stat.groupby('Group')[['q_6']].value_counts()

Group  q_6
A      'a2'    21
       'a3'     5
       'a1'     4
       'a4'     3
B      'a2'    26
       'a1'     7
       'a3'     7
       'a4'     2
C      'a2'    21
       'a1'     4
       'a3'     2
       'a4'     2
D      'a2'    28
       'a1'     6
       'a3'     2
dtype: int64

In [77]:
df_for_stat.groupby('Gender')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].mean()

            q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Gender
Женщина  0.139535  0.302326  0.523256  0.523256  0.511628  0.651163
Мужчина  0.333333  0.333333  0.444444  0.518519  0.592593  0.740741

In [78]:
df_for_stat.groupby('Gender')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].std()

            q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Gender
Женщина  0.348536  0.461959  0.502388  0.502388  0.502797  0.479398
Мужчина  0.475831  0.475831  0.501570  0.504349  0.495966  0.442343

In [79]:
df_for_stat['Group'].value_counts()

B    42
D    36
A    33
C    29
Name: Group, dtype: int64

А вот возраст/пол/образование хочу на графиках посмотреть. Мне кажется, что это будет эффективнее, чем пытаться что-то высчитать.Только у меня всегда плохо с выбором графиков...

In [94]:
import matplotlib.pyplot as plt

Только перед этим приведу всё образование к строчным буквам

In [92]:
df_for_stat['education'] = df_for_stat['education'].str.lower()

Милена, у тебя была визуализация в прошлом году, может быть, ты построишь графики? (если это не нагло с моей стороны)

In [100]:
df_for_stat.to_excel("output_with_ans.xlsx")

In [23]:
dict_fail_vv_qq = {} #если чел допустил ошибку при соответствии
dict_cont_interpret_vq_qv = {} #если чел пошёл за контекстом
dict_aud_interpret_vq_qv = {} #если чел пошёл за аудио
dict_bag_aud = {} #если чел пошёл за аудио или вообще ничего не понял
dict_bag_right = {} #если чел на контекст обратил внимание

for index, row in df_for_stat.iterrows():
    if row['Group'] == 'A':
        i = 0
        for element in row['questions']:
            if element == 4 or element == 6:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 3 or element == 5:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
                    
            i+=1
    if row['Group'] == 'B':
        i = 0
        for element in row['questions']:
            if element == 3 or element == 5:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 4 or element == 6:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
            i+=1
    if row['Group'] == 'C':
        i = 0
        for element in row['questions']:
            if element == 4 or element == 5:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 2 or element == 6:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
            i+=1
    if row['Group'] == 'D':
        i = 0
        for element in row['questions']:
            if element == 2 or element == 6:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 4 or element == 5:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
            i+=1