In [156]:
import pandas as pd

Открываем то, что скачали из pcibex. Перед этим в excel удалили некоторые столбцы, чтобы оставить только те данные, которые необходимы. Ещё мы удалили всё то, что касается информации аудио и строки формата: категория - unchecked. Так как само значение у нас находится в столбце value.

In [157]:
df = pd.read_csv('results.csv', sep = ';')

In [158]:
df

,Label,PennElementName,Parameter,Value,Time,Group,Item,Expected
0,PennController,0,_Trial_,Start,1702820669477,NaN,NaN,NaN
1,Scale,inputAgree,С инструкцией ознакомился(-лась)%2C согласие н...,checked,1702820678503,Status,NaN,NaN
2,Scale,inputAgree,Choice,С инструкцией ознакомился(-лась)%2C согласие н...,1702820677536,NaN,NaN,NaN
3,PennController,0,_Trial_,End,1702820678503,NaN,NaN,NaN
4,PennController,1,_Trial_,Start,1702820678506,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
11709,Selector,answer,Selection,a2,1703673010437,A,3.0,a1
11710,PennController,5,_Trial_,End,1703673010442,A,3.0,a1
11711,PennController,10,_Trial_,Start,1703673010442,A,8.0,a4
11712,Selector,answer,Selection,a4,1703673025802,A,8.0,a4
11713,PennController,10,_Trial_,End,1703673025803,A,8.0,a4

In [161]:
df.to_excel("results_filter.xlsx")

In [225]:
df = pd.read_excel('results_filter.xlsx') #в некоторых местах пропала "с инструкцией..." пришлось руками вставлять

Следующая ячейка кода направлена на то, чтобы посчитать количество правильных ответов в филлерах. Мы уберём тех людей, которые плохо справились с заданием.

In [226]:
dict_person = {}
i = 0
sum = 0
flag = 0

for index, row in df.iterrows():
    if i not in dict_person:
        dict_person[i] = []
        dict_person[i].append(index)
    
    if 'С инструкцией ознакомился(-лась)%2C согласие на обработку персональных данных даю.' in row['Value']:
        if flag == 1:
            dict_person[i].append(sum)
            dict_person[i].append(group)
            i+=1
            sum = 0
            flag = 0
    elif len(row['Value']) == 2 and (not row['Value'].isnumeric()):
        if row['Item'] > 6 and row['Item'] < 19:
            if row['Value'] == row['Expected']:
                sum+=1
                group = row['Group']
                
    elif row['Value'] != 'Start' and row['Value'] != 'End':
        dict_person[i].append(row['Value'])
        flag = 1
        
    if flag == 1 and index == 10910: #чтобы записать последнего челика
        dict_person[i].append(sum)
        dict_person[i].append(group)

In [227]:
dict_person

{0: [0, 'Женщина', '22', 'высшее%2C 15', 19, 'A'],
 1: [85, 'Женщина', '18', 'неоконченное высшее%2C 13', 16, 'A'],
 2: [168, 'Женщина', '19', 'неоконченное высшее%2C 12', 4, 'B'],
 3: [209, 'Женщина', '19', 'неоконченное высшее%2C 13', 11, 'D'],
 4: [271, 'Мужчина', '21', 'неоконченное высшее%2C 13', 18, 'A'],
 5: [354, 'Мужчина', '18', 'неоконченное высшее%2C 11', 4, 'B'],
 6: [395, 'Женщина', '19', 'высшее%2C 13', 11, 'C'],
 7: [457, 'Мужчина', '42', 'Высшее%2C 15', 12, 'D'],
 8: [519,
  'Предпочитаю не указывать',
  '18',
  'неоконченное высшее%2C 12',
  19,
  'A'],
 9: [602, 'Женщина', '18', 'неоконченное высшее%2C 11%2C5', 4, 'B'],
 10: [643, 'Мужчина', '42', 'неоконченное высшее', 9, 'C'],
 11: [705, 'Женщина', '20', 'неоконченное высшее%2C 13', 9, 'D'],
 12: [767, 'Женщина', '20', 'неоконченное высшее%2C 13', 18, 'A'],
 13: [850, 'Мужчина', '50', 'ученая степень%2C 11', 5, 'B'],
 14: [891,
  'Мужчина',
  '49',
  'Высшее%2C 15%2Cхотя вообще больше%2C можно сказать 18 +работа в образовании (высшем) ',
  12,
  'C'],
 15: [953, 'Женщина', '25', 'высшее%2C18', 12, 'D'],
 16: [1015, 'Женщина', '49', '2 высших%2C 17 лет', 10, 'A'],
 17: [1098, 'Женщина', '46', 'высшее%2C 17', 5, 'B'],
 18: [1139, 'Женщина', '19', 'неоконченное высшее%2C 13', 10, 'C'],
 19: [1201, 'Женщина', '18', 'неоконченное высшее%2C 13', 11, 'D'],
 20: [1263, 'Мужчина', '49', 'высшее%2C 19', 11, 'D'],
 21: [1325, 'Женщина', '48', 'высшее%2C 15', 11, 'D'],
 22: [1387, 'Мужчина', '49', 'высшее%2C 14', 12, 'C'],
 23: [1449, 'Женщина', '44', 'высшее%2C 18', 10, 'D'],
 24: [1511, 'Женщина', '50', 'высшее 15', 17, 'A'],
 25: [1594, 'Женщина', '51', 'высшее%2C 15', 4, 'B'],
 26: [1635, 'Женщина', '45', 'высшее', 4, 'B'],
 27: [1676, 'Женщина', '20', 'Неоконченное высшее%2C 13%2C5', 11, 'D'],
 28: [1738, 'Женщина', '47', 'высшее%2C 15', 19, 'A'],
 29: [1821, 'Женщина', '22', 'высшее%2C 15', 4, 'B'],
 30: [1862, 'Женщина', '35', 'Высшее%2C16', 10, 'C'],
 31: [1924, 'Женщина', '39', 'Высшее%2C 18', 9, 'D'],
 32: [1986, 'Мужчина', '50', 'высшее%2C 20', 12, 'A'],
 33: [2069, 'Женщина', '20', 'неоконченное высшее%2C 13', 4, 'B'],
 34: [2110, 'Женщина', '22', 'высшее%2C 15', 11, 'C'],
 35: [2172, 'Женщина', '59', 'Высшее%2C 15', 9, 'D'],
 36: [2234, 'Женщина', '62', 'Высшее%2C 15', 15, 'A'],
 37: [2317, 'Женщина', '52', 'Средне специальное образование ', 3, 'B'],
 38: [2358, 'Женщина', '52', 'Высшее%2C15', 9, 'C'],
 39: [2420, 'Женщина', '48', '19', 11, 'D'],
 40: [2482, 'Женщина', '37', 'Высшее%2C 16', 10, 'D'],
 41: [2544, 'Женщина', '44', 'Высшее%2C 15', 14, 'A'],
 42: [2627, 'Женщина', '35', 'Высшее%2C 15', 7, 'C'],
 43: [2689, 'Женщина', '41', 'Высшее%2C15', 11, 'D'],
 44: [2751, 'Женщина', '36', 'Высшее%2C 16', 12, 'D'],
 45: [2813, 'Женщина', '39', 'Средне специальное%2C 17', 4, 'B'],
 46: [2854, 'Женщина', '60', 'Высшее%2C 15', 11, 'C'],
 47: [2916, 'Мужчина', '24', 'высшее%2C 17', 10, 'D'],
 48: [2978, 'Женщина', '57', 'Высшее%2C15', 18, 'A'],
 49: [3061, 'Женщина', '42', 'высшее%2C 17', 4, 'B'],
 50: [3102, 'Мужчина', '19', 'Неоконченное высшее%2C 12', 12, 'C'],
 51: [3164, 'Женщина', '37', '2 высших%2C 17', 9, 'D'],
 52: [3226, 'Женщина', '52', 'Среднее', 11, 'A'],
 53: [3309, 'Женщина', '72', 'Высшее', 15, 'A'],
 54: [3392, 'Мужчина', '39', 'Высшее%2C15', 12, 'C'],
 55: [3454, 'Мужчина', '45', 'Высшее 23', 8, 'D'],
 56: [3516, 'Мужчина', '20', 'неоконченное высшее%2C 15', 15, 'A'],
 57: [3599, 'Женщина', '16', 'среднее%2C 9', 16, 'A'],
 58: [3682, 'Мужчина', '20', 'неоконченное высшее%2C 13', 18, 'A'],
 59: [3765, 'Женщина', '72', 'Высшее%2C15', 11, 'A'],
 60: [3848, 'Женщина', '18', 'Неоконченное высшее 14', 18, 'A'],
 61: [3931, 'Мужчина', '18', 'неоконченное высшее%2C13', 19, 'A'],
 62: [4014, 'Мужчина', '72', '10', 13, 'A'],
 63: [4097, 'Мужчина', '48', 'Среднее-специальное%2C 11', 8, 'D'],
 64: [4159, 'Женщина', '41', 'Среднее специальное%2C 15', 12, 'A'],
 65: [4242, 'Женщина', '66', 'Среднее ', 2, 'B'],
 66: [4283, 'Мужчина', '19', 'неоконченное высшее%2C 13', 12, 'C'],
 67: [4345, 'Женщина', '20', 'неоконченное высшее%2C 14', 9, 'D'],
 68: [4407, 'Женщина', '40', 'высшее%2C 19', 19, 'A'],
 69: [4490, 'Женщина', '22', 'Бакалавриат', 4, 'B'],
 70: [4531, 'Женщина', '20', 'высшее%2C 15', 10, 'C'],
 71: [4593, 'Мужчина', '20', 'неоконченное высшее', 10, 'D'],
 72: [4655, 'Мужчина', '20', 'среднее%2C 14', 12, 'D'],
 73: [4717, 'Мужчина', '21', 'Неоконечнное высшее%2C 14', 17, 'A'],
 74: [4800, 'Мужчина', '19', 'среднее 13', 5, 'B'],
 75: [4841, 'Мужчина', '43', 'среднее', 11, 'D'],
 76: [4903, 'Женщина', '41', 'Высшее17', 11, 'D'],
 77: [4965, 'Мужчина', '20', 'студент%2C 13', 5, 'B'],
 78: [5006, 'Мужчина', '21', 'неоконченное высшее%2C 14', 5, 'B'],
 79: [5047, 'Мужчина', '20', 'высшее%2C 13', 4, 'B'],
 80: [5088, 'Мужчина', '19', 'неоконченное высшее%2C 14', 4, 'B'],
 81: [5129, 'Женщина', '45', 'Среднее специальное%2C15', 2, 'B'],
 82: [5170, 'Женщина', '40', 'Высшее%2C 19', 9, 'C'],
 83: [5232, 'Мужчина', '20', 'неоконченное высшее%2C 14', 12, 'C'],
 84: [5294, 'Женщина', '19', 'Среднее%2C3', 6, 'C'],
 85: [5356,
  'Предпочитаю не указывать',
  '64',
  'Средне- специальное%2C 13',
  4,
  'C'],
 86: [5418, 'Мужчина', '45', 'оконченное высшее%2C 15', 4, 'B'],
 87: [5459, 'Мужчина', '19', 'неоконченное высшее%2C 19', 4, 'B'],
 88: [5500, 'Мужчина', '22', 'высшее%2C 15', 19, 'A'],
 89: [5583, 'Мужчина', '30', 'кандидат всех наук', 3, 'B'],
 90: [5624, 'Женщина', '20', 'неоконченное высшее%2C 20', 11, 'C'],
 91: [5686, 'Мужчина', '21', 'высшее%2C 14', 11, 'D'],
 92: [5748, 'Женщина', '43', 'Высшее%2C11', 18, 'A'],
 93: [5831, 'Мужчина', '63', 'Среднее%2C 10', 4, 'B'],
 94: [5872, 'Женщина', '39', 'Высшее%2C 15', 10, 'C'],
 95: [5934, 'Женщина', '65', 'Высшее%2C 15', 10, 'C'],
 96: [5996, 'Женщина', '60', 'Высшее', 15, 'A'],
 97: [6079, 'Женщина', '38', 'Высшее%2C 16', 14, 'A'],
 98: [6162, 'Мужчина', '43', 'Высшее 15', 6, 'C'],
 99: [6224, 'Женщина', '35', 'Высшее%2C16', 9, 'D'],
 100: [6286, 'Женщина', '55', 'СПО', 17, 'A'],
 101: [6369, 'Женщина', '46', 'Высшее%2C 16', 3, 'B'],
 102: [6410, 'Мужчина', '20', 'СПО', 5, 'B'],
 103: [6451, 'Женщина', '63', '15', 2, 'B'],
 104: [6492, 'Женщина', '60', 'высшее%2C 15', 16, 'A'],
 105: [6575, 'Женщина', '38', 'Высшее%2C 15', 4, 'B'],
 106: [6616, 'Женщина', '32', 'два высших%2C 22 ', 4, 'B'],
 107: [6657, 'Женщина', '50', 'Высшее%2C 15', 9, 'C'],
 108: [6719, 'Женщина', '55', 'Высшее', 18, 'A'],
 109: [6802, 'Женщина', '60', 'Высшее', 11, 'A'],
 110: [6885, 'Мужчина', '35', 'высшее%2C 16', 8, 'C'],
 111: [6947, 'Женщина', '67', 'Среднее', 9, 'D'],
 112: [7009, 'Женщина', '43', 'Высшее%2C 18', 9, 'D'],
 113: [7071, 'Женщина', '51', 'высшее%2C30', 9, 'D'],
 114: [7133, 'Женщина', '45', 'высшее', 4, 'B'],
 115: [7174, 'Женщина', '37', 'Высшее%2C 17', 9, 'D'],
 116: [7236, 'Мужчина', '43', 'Среднее специальное ', 12, 'A'],
 117: [7319, 'Женщина', '42', 'Высшее%2C 10', 14, 'A'],
 118: [7402, 'Женщина', '40', 'Высшее%2C 17', 9, 'C'],
 119: [7464, 'Женщина', '50', 'высшее 15', 12, 'D'],
 120: [7526, 'Женщина', '44', 'Высшее%2C 16', 8, 'A'],
 121: [7609, 'Женщина', '41', 'Среднее 11', 4, 'B'],
 122: [7650, 'Женщина', '52', 'высшее', 8, 'C'],
 123: [7712, 'Мужчина', '22', 'высшее%2C 15', 10, 'D'],
 124: [7774, 'Мужчина', '20', 'неоконченное высшее', 11, 'D'],
 125: [7836, 'Женщина', '55 лет', 'Среднее специальное%2C13', 0, 'D'],
 126: [7877, 'Женщина', '39', 'Высшее%2C 17', 11, 'C'],
 127: [7939, 'Мужчина', '55', 'Высшее%2C 30', 5, 'B'],
 128: [7980, 'Мужчина', '21', 'неоконченное высшее%2C 14', 5, 'B'],
 129: [8021, 'Мужчина', '26', 'высшее%2C 17', 4, 'B'],
 130: [8062, 'Мужчина', '16', '10 класс', 9, 'C'],
 131: [8124, 'Женщина', '42', 'высшее%2C 15', 9, 'C'],
 132: [8186, 'Женщина', '58', 'высшее%2C16', 13, 'A'],
 133: [8269, 'Мужчина', '34', 'Высшее%2C16', 5, 'B'],
 134: [8310, 'Мужчина', '34', 'Среднее%2C 12', 9, 'C'],
 135: [8372, 'Мужчина', '55', 'Высшее%2C 15', 9, 'D'],
 136: [8434, 'Женщина', '43', 'Высшее%2C 17', 19, 'A'],
 137: [8517, 'Мужчина', '17', 'Среднее профессиональное%2C 10', 11, 'A'],
 138: [8600, 'Женщина', '13', 'Среднее%2C 7', 8, 'C'],
 139: [8662, 'Женщина', '30', 'Высшее%2C 16', 7, 'C'],
 140: [8724, 'Женщина', '61', 'высшее%2C35лет', 14, 'A'],
 141: [8807, 'Мужчина', '20', 'неоконченное высшее%2C 13', 5, 'B'],
 142: [8848, 'Мужчина', '62', 'Высшее%2C 62', 6, 'C'],
 143: [8910, 'Женщина', '57', 'Среднее специальное%2C12', 8, 'C'],
 144: [8972, 'Мужчина', '62', '15', 14, 'A'],
 145: [9055, 'Мужчина', '31', '15 высшее', 4, 'B'],
 146: [9096, 'Женщина', '23', '15', 12, 'C'],
 147: [9158, 'Мужчина', '48', 'Высшее 15', 10, 'D'],
 148: [9220, 'Женщина', '65', 'Высшее%2C15', 15, 'A'],
 149: [9303, 'Женщина', '39', 'высшее%2C15', 5, 'B'],
 150: [9344, 'Женщина', '28', 'высшее%2C 15', 12, 'C'],
 151: [9406, 'Женщина', '57', 'высшее 17', 9, 'C'],
 152: [9468, 'Женщина', '33', 'Высшее%2C 16', 10, 'D'],
 153: [9530, 'Мужчина', '41', 'Высшее%2C15', 4, 'B'],
 154: [9571, 'Мужчина', '42', 'высшее', 3, 'B'],
 155: [9612, 'Мужчина', '18', 'Неоконченное высшее%2C11', 10, 'D'],
 156: [9674, 'Мужчина', '75', 'Высшее%2C15', 17, 'A'],
 157: [9757, 'Мужчина', '40', '16', 3, 'B'],
 158: [9798, 'Мужчина', '49', 'Высшее%2C18', 3, 'B'],
 159: [9839, 'Мужчина', '56', 'Среднее специальное%2C12', 9, 'C'],
 160: [9901, 'Женщина', '18', 'среднее%2C 11', 19, 'A'],
 161: [9984, 'Мужчина', '20', 'неоконченное высшее%2C 13', 5, 'B'],
 162: [10025, 'Женщина', '63', 'Высшее', 7, 'C'],
 163: [10087, 'Мужчина', '56', 'Среднее', 'Женщина', '40', '19', 20, 'A'],
 164: [10231, 'Женщина', '63', 'среднее специальное', 4, 'B'],
 165: [10272, 'Мужчина', '47', 'высшее кандидат наук', 8, 'C'],
 166: [10334, 'Мужчина', '49', 'Высшее', 9, 'D'],
 167: [10396, 'Мужчина', '20', 'неоконченное высшее%2C 14', 19, 'A'],
 168: [10479, 'Женщина', '43', 'Высшее%2C17', 4, 'B'],
 169: [10520, 'Мужчина', '29', 'Высшее', 9, 'C'],
 170: [10582, 'Женщина', '37', 'Среднее специальное%2C 15', 10, 'D'],
 171: [10644, 'Мужчина', '36', 'Среднее-специальное%2C 15', 17, 'A'],
 172: [10727, 'Женщина', '63', 'высшее%2C15', 5, 'D'],
 173: [10789, 'Мужчина', '21', '15', 11, 'C'],
 174: [10851, 'Мужчина', '23', 'неоконченное высшее%2C 13', 12, 'D']}

Тут мы выделяем этих людей.

In [228]:
count = 0
dict_not_use = {}

for key, value in dict_person.items():
    if value[5] == 'A' and value[4] < 14:
        dict_not_use[key] = value
        count+=1
    if value[5] == 'B' and value[4] < 3:
        dict_not_use[key] = value
        count+=1
    if (value[5] == 'C' or value[5] == 'D') and value[4] < 9:
        dict_not_use[key] = value
        count+=1
        
print(count)

30

In [229]:
dict_not_use

{16: [1015, 'Женщина', '49', '2 высших%2C 17 лет', 10, 'A'],
 32: [1986, 'Мужчина', '50', 'высшее%2C 20', 12, 'A'],
 42: [2627, 'Женщина', '35', 'Высшее%2C 15', 7, 'C'],
 52: [3226, 'Женщина', '52', 'Среднее', 11, 'A'],
 55: [3454, 'Мужчина', '45', 'Высшее 23', 8, 'D'],
 59: [3765, 'Женщина', '72', 'Высшее%2C15', 11, 'A'],
 62: [4014, 'Мужчина', '72', '10', 13, 'A'],
 63: [4097, 'Мужчина', '48', 'Среднее-специальное%2C 11', 8, 'D'],
 64: [4159, 'Женщина', '41', 'Среднее специальное%2C 15', 12, 'A'],
 65: [4242, 'Женщина', '66', 'Среднее ', 2, 'B'],
 81: [5129, 'Женщина', '45', 'Среднее специальное%2C15', 2, 'B'],
 84: [5294, 'Женщина', '19', 'Среднее%2C3', 6, 'C'],
 85: [5356,
  'Предпочитаю не указывать',
  '64',
  'Средне- специальное%2C 13',
  4,
  'C'],
 98: [6162, 'Мужчина', '43', 'Высшее 15', 6, 'C'],
 103: [6451, 'Женщина', '63', '15', 2, 'B'],
 109: [6802, 'Женщина', '60', 'Высшее', 11, 'A'],
 110: [6885, 'Мужчина', '35', 'высшее%2C 16', 8, 'C'],
 116: [7236, 'Мужчина', '43', 'Среднее специальное ', 12, 'A'],
 120: [7526, 'Женщина', '44', 'Высшее%2C 16', 8, 'A'],
 122: [7650, 'Женщина', '52', 'высшее', 8, 'C'],
 125: [7836, 'Женщина', '55 лет', 'Среднее специальное%2C13', 0, 'D'],
 132: [8186, 'Женщина', '58', 'высшее%2C16', 13, 'A'],
 137: [8517, 'Мужчина', '17', 'Среднее профессиональное%2C 10', 11, 'A'],
 138: [8600, 'Женщина', '13', 'Среднее%2C 7', 8, 'C'],
 139: [8662, 'Женщина', '30', 'Высшее%2C 16', 7, 'C'],
 142: [8848, 'Мужчина', '62', 'Высшее%2C 62', 6, 'C'],
 143: [8910, 'Женщина', '57', 'Среднее специальное%2C12', 8, 'C'],
 162: [10025, 'Женщина', '63', 'Высшее', 7, 'C'],
 165: [10272, 'Мужчина', '47', 'высшее кандидат наук', 8, 'C'],
 172: [10727, 'Женщина', '63', 'высшее%2C15', 5, 'D']}

In [230]:
df.to_excel("1.xlsx") #посмотрим, сколько надо прибавлять по индексу, чтобы удалить

Удаляем с помощью индексов строк. 

Начиная от индекс из словаря - 2, заканчивая индекс + 80 для А

индекс из словаря - 2 : индекс + 38 для B

индекс из словаря - 2 : индекс + 59 для С и D

In [231]:
df_for_count = df.copy()

In [232]:
df_for_count

,Label,PennElementName,Parameter,Value,Time,Group,Item,Expected
0,PennController,0,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
1,Scale,inputAgree,Choice,С инструкцией ознакомился(-лась)%2C согласие н...,1.702821e+12,NaN,NaN,NaN
2,PennController,0,_Trial_,End,1.702821e+12,NaN,NaN,NaN
3,PennController,1,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
4,Scale,inputGender,Choice,Женщина,1.702821e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
10906,Selector,answer,Selection,a2,1.703666e+12,D,3.0,a3
10907,PennController,5,_Trial_,End,1.703666e+12,D,3.0,a3
10908,PennController,10,_Trial_,Start,1.703666e+12,D,8.0,a4
10909,Selector,answer,Selection,a4,1.703666e+12,D,8.0,a4
10910,PennController,10,_Trial_,End,1.703666e+12,D,8.0,a4

In [234]:
for key, value in dict_not_use.items():
    st = value[0] - 2
    if value[5] == 'A':
        fin = value[0] + 80
    if value[5] == 'B':
        fin = value[0] + 38
    if (value[5] == 'C' or value[5] == 'D'):
        fin = value[0] + 59
    st_del = list(range(st, fin+1))
    df_for_count = df_for_count.drop(index=st_del, axis = 0)

In [235]:
df_for_count.to_excel("2.xlsx") #вновь проверяем всё и ручками удаляем "предпочитаю не указывать"

In [248]:
df_for_stat = pd.read_excel('2.xlsx')

Вот мы всё удалили. Теперь перейдём к форматированию таблицы.

In [249]:
df_for_stat

,Label,PennElementName,Parameter,Value,Time,Group,Item,Expected
0,PennController,0,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
1,Scale,inputAgree,Choice,С инструкцией ознакомился(-лась)%2C согласие н...,1.702821e+12,NaN,NaN,NaN
2,PennController,0,_Trial_,End,1.702821e+12,NaN,NaN,NaN
3,PennController,1,_Trial_,Start,1.702821e+12,NaN,NaN,NaN
4,Scale,inputGender,Choice,Женщина,1.702821e+12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8798,Selector,answer,Selection,a2,1.703666e+12,D,3.0,a3
8799,PennController,5,_Trial_,End,1.703666e+12,D,3.0,a3
8800,PennController,10,_Trial_,Start,1.703666e+12,D,8.0,a4
8801,Selector,answer,Selection,a4,1.703666e+12,D,8.0,a4
8802,PennController,10,_Trial_,End,1.703666e+12,D,8.0,a4

С помощью этого словаря сделаем так, чтобы ответы у пользователей разделялись + фиксируем время.

In [253]:
dict_person_for_stat = {}
i = 0
sum = 0
flag = 0

for index, row in df_for_stat.iterrows():
    if i not in dict_person_for_stat:
        dict_person_for_stat[i] = []
        answers = {}
    if len(row['Value']) == 2 and (not row['Value'].isnumeric()):
        if row['Item'] < 7:
            group = row['Group']
            answers[row['Item']] = [row['Value'], row['Expected']]
    elif row['Value'] == 'Start':
        start = int(row['Time'])
    elif row['Value'] == 'End':
        end = int(row['Time'])
    else:
        if row['PennElementName'] == 'inputEducation':
            stroka = row['Value'].split(' ')
            if len(stroka) > 1 and stroka[-1].isnumeric():
                new_str = []
                for el in stroka:
                    el_2 = el.replace('%2C', '')
                    new_str.append(el_2)
                dict_person_for_stat[i].append(new_str[-1])
                stroka = new_str[:-1]
                stroka = ' '.join(stroka)
                dict_person_for_stat[i].append(stroka)
            else:
                dict_person_for_stat[i].append('NaN')
                stroka = ' '.join(stroka)
                dict_person_for_stat[i].append(stroka)
        elif 'С инструкцией' not in row['Value']:
            dict_person_for_stat[i].append(row['Value'])
        elif 'С инструкцией' in row['Value'] and index != 1:
            dict_person_for_stat[i].append(group)
            dict_person_for_stat[i].append(answers)
            i+=1
    if index == 8802: #чтобы записать последнего челика
        dict_person_for_stat[i].append(group)
        dict_person_for_stat[i].append(answers)

1702820702504
1702820722192
1702820843556
1702820864074
1702820894900
1702820926388
1702821041977
1702821084053
1702821127959
1702821135899
1702821194632
1702821207109
1702821220632
1702821242922
1702821264389
1702821277995
1702821305112
1702821315946
1702821475567
1702821526926
1702821536223
1702821544094
1702821576111
1702821611445
1702822006140
1702822040518
1702822064307
1702822116686
1702822248632
1702822257258
1702823286760
1702823328867
1702823358044
1702823380180
1702823398180
1702823406684
1702823949258
1702824034433
1702824071201
1702824082093
1702824094977
1702824105538
1702824467667
1702824483220
1702824548971
1702824590070
1702824632531
1702824652196
1702828291272
1702828301271
1702828310463
1702828320532
1702828339787
1702828348898
1702830919805
1702830973819
1702831035021
1702831083025
1702831094028
1702831128541
1702841896545
1702842013086
1702842046472
1702842076447
1702842185611
1702842197563
1702844455803
1702844472697
1702844481105
1702844511338
1702844537406
1702844685626
1702845685328
1702845720041
1702845735945
1702845789854
1702845816328
1702845836601
1702851388935
1702851482528
1702851569061
1702851628225
1702851775284
1702851804614
1702856441624
1702856511532
1702856520214
1702856538012
1702856556361
1702856575972
1702899882242
1702899894632
1702899923971
1702899957871
1702899968392
1702899976818
1702903950331
1702903998709
1702904011300
1702904061686
1702904096291
1702904114009
1702910787482
1702910831797
1702910862502
1702910871282
1702910881428
1702910899271
1702913058021
1702913145530
1702913198624
1702913211304
1702913221704
1702913319979
1702915176593
1702915238407
1702915315450
1702915335236
1702915355577
1702915390018
1702973706698
1702973738969
1702973757275
1702973801938
1702973857802
1702973870633
1702977153281
1702977163754
1702977200745
1702977226541
1702977269257
1702977294281
1702977455682
1702977583494
1702977622534
1702977650841
1702977688649
1702977697529
1702985684300
1702985726301
1702985811858
1702985845427
1702985861976
1702985881049
1702985802807
1702985834933
1702985899237
1702985910044
1702985926556
1702985939405
1702996445086
1702996565357
1702996605732
1702996616573
1702996637642
1702996656381
1703067488182
1703067523454
1703067533261
1703067573031
1703067580445
1703067603757
1703068940393
1703068955751
1703068969823
1703068989264
1703068997568
1703069011732
1703077393420
1703077425583
1703077444978
1703077514940
1703077522979
1703077531905
1703080924704
1703080981994
1703081082524
1703081160323
1703081182727
1703081203367
1703097519132
1703097550523
1703097563132
1703097580761
1703097594603
1703097624401
1703100495526
1703100536226
1703100575060
1703100611940
1703100628443
1703100648176
1703130944514
1703131019601
1703131088153
1703131105792
1703131118175
1703131181697
1703133986244
1703134074894
1703134162725
1703134199448
1703134210201
1703134288981
1703135254101
1703135283685
1703135334681
1703135384608
1703135399844
1703135434354
1703134076043
1703134102449
1703134123568
1703134179254
1703134211667
1703134260217
1703137177218
1703137230612
1703137267656
1703137280300
1703137308500
1703137388884
1703137354253
1703137466205
1703137562173
1703137574112
1703137640711
1703137654215
1703137700147
1703137728675
1703137776603
1703137818110
1703137865108
1703137918708
1703167227137
1703167249868
1703167286908
1703167295276
1703167304165
1703167373873
1703167326521
1703167396728
1703167429555
1703167451545
1703167478100
1703167513835
1703170530910
1703170584611
1703170622132
1703170659109
1703170737737
1703170751698
1703175911165
1703175950916
1703175962324
1703175974813
1703176058652
1703176113636
1703196927957
1703197001756
1703197037569
1703197086594
1703197094775
1703197146478
1703199636206
1703199676256
1703199777037
1703199807252
1703199871454
1703199893894
1703229455421
1703229525976
1703229558512
1703229618592
1703229648479
1703229663678
1703231595541
1703231606499
1703231639404
1703231692838
1703231729907
1703231739945
1703235617246
1703235657722
1703235692713
1703235713689
1703235735396
1703235802045
1703239536486
1703239550543
1703239812678
1703239886984
1703239899512
1703239969487
1703249780755
1703249807735
1703249839488
1703249875926
1703249936173
1703250005791
1703252403514
1703252436577
1703252447035
1703252456407
1703252482869
1703252508313
1703252309195
1703252322626
1703252335948
1703252346624
1703252502594
1703252534248
1703252683201
1703252752983
1703252765052
1703252782770
1703252791216
1703252802099
1703253339554
1703253392421
1703253429029
1703253465477
1703253475471
1703253515609
1703253304270
1703253449398
1703253472005
1703253488719
1703253533954
1703253558313
1703266962008
1703266975128
1703267013791
1703267060664
1703267068983
1703267094880
1703267348986
1703267364677
1703267408512
1703267426971
1703267473889
1703267489182
1703268877081
1703268921613
1703268963759
1703269000964
1703269010919
1703269035587
1703315635399
1703315699793
1703315735333
1703315759122
1703315793383
1703315804524
1703371798680
1703371874960
1703371920107
1703371932349
1703371955473
1703371968712
1703443374935
1703443400405
1703443432440
1703443448168
1703443475375
1703443516168
1703443557524
1703443581132
1703443589912
1703443611665
1703443635707
1703443723441
1703443632793
1703443669075
1703443705408
1703443744674
1703443755542
1703443781407
1703443825183
1703443864863
1703443877823
1703443888303
1703443897535
1703443929126
1703444054442
1703444068224
1703444080440
1703444090424
1703444112464
1703444248048
1703444279946
1703444290827
1703444347673
1703444355396
1703444371924
1703444382947
1703445444769
1703445506086
1703445537967
1703445561043
1703445593428
1703445605050
1703445551003
1703445574561
1703445583995
1703445603128
1703445612758
1703445624177
1703445581134
1703445608418
1703445622674
1703445645495
1703445662023
1703445682891
1703445633913
1703445698277
1703445718370
1703445732986
1703445781697
1703445792605
1703446890690
1703447022590
1703447040334
1703447053041
1703447141694
1703447190043
1703447070543
1703447125035
1703447139951
1703447159641
1703447242861
1703447253368
1703447752097
1703447815684
1703447825963
1703447834765
1703447863482
1703447880477
1703447885063
1703447945291
1703447954751
1703447964985
1703447982160
1703448003160
1703448429222
1703448477995
1703448489187
1703448500089
1703448507929
1703448516831
1703451044951
1703451064218
1703451086320
1703451105817
1703451126384
1703451134566
1703463233805
1703463244558
1703463284934
1703463392335
1703463415302
1703463433695
1703464037807
1703464088606
1703464108607
1703464144540
1703464181552
1703464210256
1703469770016
1703469852973
1703469889497
1703469963787
1703469986675
1703470035397
1703473392876
1703473456791
1703473508226
1703473524025
1703473545645
1703473559724
1703473970650
1703474023299
1703474084361
1703474138242
1703474154218
1703474185416
1703474386599
1703474419216
1703474441602
1703474461706
1703474479436
1703474490653
1703474747305
1703474786434
1703474905729
1703474929441
1703474974696
1703475029313
1703474961289
1703475037508
1703475114444
1703475137007
1703475164617
1703475201927
1703479094110
1703479108862
1703479132482
1703479158960
1703479253356
1703479298649
1703480440420
1703480455178
1703480526701
1703480591193
1703480657265
1703480686023
1703481301885
1703481339932
1703481350777
1703481365056
1703481439231
1703481458668
1703481372462
1703481382473
1703481403612
1703481412764
1703481448079
1703481457652
1703482131905
1703482201609
1703482226890
1703482249179
1703482258134
1703482289983
1703483442567
1703483456700
1703483474916
1703483492453
1703483510759
1703483520175
1703483560860
1703483620264
1703483633270
1703483657327
1703483686448
1703483713511
1703491231094
1703491268523
1703491298015
1703491338158
1703491365556
1703491377630
1703484557835
1703484632317
1703484650238
1703484661325
1703484781506
1703484980599
1703486688235
1703486707743
1703486747036
1703486776608
1703486885594
1703486900721
1703486998110
1703487047074
1703487060322
1703487178669
1703487195094
1703487240337
1703486988196
1703487062836
1703487136660
1703487154004
1703487218748
1703487347188
1703487243136
1703487282848
1703487293868
1703487303704
1703487347781
1703487367337
1703488185423
1703488201275
1703488244779
1703488294164
1703488306424
1703488318304
1703490060661
1703490115205
1703490209925
1703490240393
1703490289530
1703490319616
1703492906608
1703492929699
1703492950183
1703493037637
1703493049776
1703493059266
1703493309048
1703493511146
1703493572867
1703493631204
1703493681035
1703493751692
1703497718528
1703497760908
1703497774978
1703497785936
1703497814649
1703497854360
1703500421092
1703500444775
1703500476896
1703500551359
1703500563971
1703500659566
1703500598988
1703500617516
1703500650989
1703500681582
1703500712842
1703500735270
1703502732896
1703502759566
1703502775779
1703502811005
1703502856225
1703501623638
1703501693943
1703503158015
1703503178998
1703503194383
1703503229348
1703501781129
1703501792700
1703501806868
1703501820286
1703501829011
1703503320735
1703503903088
1703503972264
1703504038598
1703504048996
1703504057767
1703504069647
1703506402980
1703506420304
1703506439526
1703506452051
1703506529606
1703506541012
1703513369078
1703513510964
1703513527940
1703513544516
1703513558419
1703513942043
1703507758275
1703507791764
1703507801031
1703507814757
1703507825563
1703507863615
1703507945526
1703507953049
1703507991887
1703508012674
1703508060462
1703508068672
1703517902545
1703518024586
1703518108156
1703518170177
1703518204756
1703518297629
1703513191990
1703513254068
1703513297215
1703513307330
1703513316421
1703513385561
1703514590238
1703514629411
1703514709567
1703514926904
1703514940525
1703514951644
1703517224457
1703517269971
1703517346779
1703517390915
1703517427989
1703517457183
1703519439069
1703519558794
1703519767664
1703519838984
1703519950607
1703520004325
1703522046427
1703522148373
1703522275782
1703522296137
1703522339849
1703522351545
1703522462178
1703522513965
1703522538709
1703522549317
1703522596893
1703522670009
1703524217424
1703524307067
1703524337184
1703524394118
1703524449267
1703524472217
1703525438057
1703525546902
1703525630198
1703525647004
1703525684831
1703525745470
1703528503967
1703528552552
1703528628996
1703528684451
1703528740899
1703528765955
1703528782624
1703528961627
1703529023415
1703529041008
1703529130604
1703529255161
1703529907116
1703529959640
1703529990368
1703530088439
1703530141791
1703530174183
1703530783893
1703530862628
1703530876228
1703530911566
1703530924796
1703530972070
1703532012767
1703532066389
1703532077177
1703532098103
1703532111061
1703532141881
1703532080581
1703532116939
1703532137259
1703532153730
1703532179369
1703532207401
1703532345037
1703532377082
1703532436864
1703532460622
1703532515741
1703532524356
1703532716725
1703532735190
1703532769177
1703532842099
1703532867281
1703532879161
1703533099719
1703533116481
1703533142898
1703533164446
1703533193161
1703533213949
1703533188717
1703533214688
1703533250262
1703533260944
1703533297970
1703533315268
1703533367271
1703533415444
1703533425898
1703533495115
1703533518052
1703533557719
1703535533786
1703535616202
1703535644632
1703535727916
1703535738210
1703535752560
1703556668614
1703556718176
1703556742687
1703556751843
1703556804655
1703556827817
1703563761129
1703563779740
1703563829157
1703563857970
1703563879837
1703563942160
1703565329707
1703565449148
1703565503376
1703565540947
1703565635068
1703565667233
1703573776174
1703573800608
1703573822874
1703573842160
1703573866871
1703573889176
1703577380730
1703577497324
1703577523249
1703577624930
1703577639403
1703577651994
1703578701345
1703578753951
1703578762023
1703578795695
1703578849687
1703578932023
1703589504707
1703589542276
1703589557883
1703589630482
1703589654192
1703589697527
1703591502599
1703591517217
1703591528123
1703591685148
1703591808524
1703591825984
1703594775346
1703594792757
1703594878423
1703594892298
1703594968366
1703594978068
1703595101135
1703595198111
1703595248615
1703595258762
1703595309708
1703595317848
1703643188541
1703643200163
1703643243572
1703643256270
1703643276501
1703643302265
1703665489497
1703665508022
1703665566255
1703665586480
1703665603470
1703665629031

In [251]:
dict_person_for_stat

{0: ['Женщина',
  '22',
  '15',
  'высшее',
  'A',
  {6.0: ['a2', 'a2', -5],
   1.0: ['a2', 'a3', -3],
   3.0: ['a1', 'a1', -2],
   4.0: ['a3', 'a1', -4],
   5.0: ['a2', 'a2', -4],
   2.0: ['a2', 'a3', -4]}],
 1: ['Женщина',
  '18',
  '13',
  'неоконченное высшее',
  'A',
  {3.0: ['a1', 'a1', 0],
   5.0: ['a2', 'a2', -1],
   2.0: ['a2', 'a3', -1],
   1.0: ['a3', 'a3', -1],
   4.0: ['a1', 'a1', -1],
   6.0: ['a2', 'a2', -1]}],
 2: ['Женщина',
  '19',
  '12',
  'неоконченное высшее',
  'B',
  {2.0: ['a3', 'a3', -1],
   3.0: ['a1', 'a1', -1],
   4.0: ['a1', 'a1', -2],
   5.0: ['a2', 'a2', 0],
   1.0: ['a2', 'a3', -1],
   6.0: ['a2', 'a2', -2]}],
 3: ['Женщина',
  '19',
  '13',
  'неоконченное высшее',
  'D',
  {6.0: ['a2', 'a2', -2],
   2.0: ['a1', 'a1', -1],
   5.0: ['a2', 'a1', 0],
   4.0: ['a2', 'a2', -2],
   1.0: ['a1', 'a3', -1],
   3.0: ['a2', 'a3', -3]}],
 4: ['Мужчина',
  '21',
  '13',
  'неоконченное высшее',
  'A',
  {1.0: ['a3', 'a3', -2],
   5.0: ['a2', 'a2', -3],
   3.0: ['a1', 'a1', -2],
   2.0: ['a1', 'a3', -1],
   6.0: ['a2', 'a2', -1],
   4.0: ['a1', 'a1', -2]}],
 5: ['Мужчина',
  '18',
  '11',
  'неоконченное высшее',
  'B',
  {2.0: ['a3', 'a3', -3],
   6.0: ['a2', 'a2', -1],
   5.0: ['a2', 'a2', -1],
   4.0: ['a2', 'a1', -1],
   3.0: ['a1', 'a1', -2],
   1.0: ['a2', 'a3', -1]}],
 6: ['Женщина',
  '19',
  '13',
  'высшее',
  'C',
  {1.0: ['a2', 'a3', -2],
   3.0: ['a3', 'a3', -1],
   5.0: ['a2', 'a1', -1],
   4.0: ['a2', 'a2', -1],
   2.0: ['a2', 'a1', 0],
   6.0: ['a2', 'a2', -1]}],
 7: ['Мужчина',
  '42',
  '15',
  'Высшее',
  'D',
  {2.0: ['a2', 'a1', -11],
   4.0: ['a2', 'a2', -12],
   6.0: ['a2', 'a2', -11],
   5.0: ['a1', 'a1', -12],
   3.0: ['a3', 'a3', -11],
   1.0: ['a3', 'a3', -11]}],
 8: ['D', {}],
 9: ['Женщина',
  '18',
  'NaN',
  'неоконченное высшее%2C 11%2C5',
  'B',
  {6.0: ['a2', 'a2', -3],
   4.0: ['a2', 'a1', -4],
   2.0: ['a2', 'a3', -4],
   5.0: ['a2', 'a2', -5],
   1.0: ['a2', 'a3', -4],
   3.0: ['a1', 'a1', -3]}],
 10: ['Мужчина',
  '42',
  'NaN',
  'неоконченное высшее',
  'C',
  {6.0: ['a3', 'a2', -1],
   4.0: ['a2', 'a2', 0],
   3.0: ['a3', 'a3', 0],
   2.0: ['a1', 'a1', 0],
   5.0: ['a3', 'a1', 0],
   1.0: ['a3', 'a3', -1]}],
 11: ['Женщина',
  '20',
  '13',
  'неоконченное высшее',
  'D',
  {2.0: ['a3', 'a1', -5],
   4.0: ['a2', 'a2', -6],
   1.0: ['a2', 'a3', -2],
   3.0: ['a2', 'a3', -7],
   6.0: ['a2', 'a2', -2],
   5.0: ['a2', 'a1', -3]}],
 12: ['Женщина',
  '20',
  '13',
  'неоконченное высшее',
  'A',
  {2.0: ['a2', 'a3', -1],
   3.0: ['a1', 'a1', -1],
   6.0: ['a1', 'a2', -2],
   5.0: ['a2', 'a2', -1],
   1.0: ['a2', 'a3', -1],
   4.0: ['a2', 'a1', -2]}],
 13: ['Мужчина',
  '50',
  '11',
  'ученая степень',
  'B',
  {4.0: ['a1', 'a1', -5],
   3.0: ['a1', 'a1', -4],
   2.0: ['a1', 'a3', -5],
   6.0: ['a2', 'a2', -2],
   1.0: ['a2', 'a3', -4],
   5.0: ['a3', 'a2', -5]}],
 14: ['Мужчина',
  '49',
  'NaN',
  'Высшее%2C 15%2Cхотя вообще больше%2C можно сказать 18 +работа в образовании (высшем) ',
  'C',
  {6.0: ['a2', 'a2', -6],
   4.0: ['a3', 'a2', -5],
   3.0: ['a3', 'a3', -6],
   1.0: ['a3', 'a3', -6],
   5.0: ['a1', 'a1', -5],
   2.0: ['a1', 'a1', -5]}],
 15: ['Женщина',
  '25',
  'NaN',
  'высшее%2C18',
  'D',
  {5.0: ['a3', 'a1', -1],
   2.0: ['a3', 'a1', -1],
   1.0: ['a3', 'a3', -1],
   6.0: ['a2', 'a2', -1],
   4.0: ['a3', 'a2', -1],
   3.0: ['a3', 'a3', -1]}],
 16: ['Женщина',
  '46',
  '17',
  'высшее',
  'B',
  {1.0: ['a3', 'a3', -5],
   2.0: ['a3', 'a3', -12],
   3.0: ['a1', 'a1', -3],
   4.0: ['a3', 'a1', -5],
   6.0: ['a3', 'a2', -5],
   5.0: ['a2', 'a2', -3]}],
 17: ['Женщина',
  '19',
  '13',
  'неоконченное высшее',
  'C',
  {1.0: ['a3', 'a3', -1],
   4.0: ['a3', 'a2', 0],
   3.0: ['a1', 'a3', -1],
   6.0: ['a2', 'a2', 0],
   2.0: ['a1', 'a1', -1],
   5.0: ['a2', 'a1', -1]}],
 18: ['Женщина',
  '18',
  '13',
  'неоконченное высшее',
  'D',
  {1.0: ['a2', 'a3', -3],
   5.0: ['a2', 'a1', -2],
   6.0: ['a2', 'a2', -2],
   3.0: ['a2', 'a3', -3],
   2.0: ['a2', 'a1', -3],
   4.0: ['a2', 'a2', -3]}],
 19: ['Мужчина',
  '49',
  '19',
  'высшее',
  'D',
  {5.0: ['a2', 'a1', -2],
   3.0: ['a2', 'a3', -1],
   6.0: ['a2', 'a2', -1],
   1.0: ['a3', 'a3', -1],
   4.0: ['a2', 'a2', -1],
   2.0: ['a3', 'a1', -1]}],
 20: ['Женщина',
  '48',
  '15',
  'высшее',
  'D',
  {1.0: ['a2', 'a3', -1],
   5.0: ['a4', 'a1', -1],
   4.0: ['a1', 'a2', -2],
   2.0: ['a1', 'a1', -1],
   6.0: ['a3', 'a2', -1],
   3.0: ['a1', 'a3', -1]}],
 21: ['Мужчина',
  '49',
  '14',
  'высшее',
  'C',
  {2.0: ['a1', 'a1', -1],
   6.0: ['a4', 'a2', 0],
   4.0: ['a2', 'a2', -2],
   3.0: ['a1', 'a3', -2],
   5.0: ['a1', 'a1', -1],
   1.0: ['a3', 'a3', 0]}],
 22: ['Женщина',
  '44',
  '18',
  'высшее',
  'D',
  {3.0: ['a4', 'a3', 0],
   4.0: ['a1', 'a2', -1],
   6.0: ['a1', 'a2', 0],
   5.0: ['a1', 'a1', 0],
   2.0: ['a1', 'a1', 0],
   1.0: ['a1', 'a3', -1]}],
 23: ['Женщина',
  '50',
  '15',
  'высшее',
  'A',
  {3.0: ['a1', 'a1', 0],
   2.0: ['a1', 'a3', -1],
   4.0: ['a1', 'a1', 0],
   5.0: ['a2', 'a2', -1],
   6.0: ['a2', 'a2', -1],
   1.0: ['a1', 'a3', -1]}],
 24: ['Женщина',
  '51',
  '15',
  'высшее',
  'B',
  {1.0: ['a1', 'a3', -1],
   4.0: ['a4', 'a1', -2],
   5.0: ['a1', 'a2', -1],
   6.0: ['a1', 'a2', -2],
   3.0: ['a1', 'a1', 0],
   2.0: ['a1', 'a3', -1]}],
 25: ['Женщина',
  '45',
  'NaN',
  'высшее',
  'B',
  {2.0: ['a1', 'a3', -1],
   4.0: ['a1', 'a1', -1],
   6.0: ['a1', 'a2', -1],
   1.0: ['a2', 'a3', 0],
   5.0: ['a2', 'a2', -1],
   3.0: ['a1', 'a1', -1]}],
 26: ['Женщина',
  '20',
  'NaN',
  'Неоконченное высшее%2C 13%2C5',
  'D',
  {6.0: ['a2', 'a2', -21],
   2.0: ['a3', 'a1', -15],
   1.0: ['a3', 'a3', -15],
   3.0: ['a3', 'a3', -15],
   5.0: ['a1', 'a1', -13],
   4.0: ['a3', 'a2', -13]}],
 27: ['Женщина',
  '47',
  '15',
  'высшее',
  'A',
  {2.0: ['a2', 'a3', -1],
   4.0: ['a1', 'a1', -1],
   3.0: ['a1', 'a1', -1],
   5.0: ['a2', 'a2', -1],
   6.0: ['a2', 'a2', -1],
   1.0: ['a2', 'a3', -1]}],
 28: ['Женщина',
  '22',
  '15',
  'высшее',
  'B',
  {6.0: ['a2', 'a2', -1],
   4.0: ['a1', 'a1', -2],
   2.0: ['a1', 'a3', -1],
   5.0: ['a1', 'a2', -2],
   1.0: ['a1', 'a3', -1],
   3.0: ['a1', 'a1', -1]}],
 29: ['Женщина',
  '35',
  'NaN',
  'Высшее%2C16',
  'C',
  {4.0: ['a2', 'a2', -10],
   5.0: ['a2', 'a1', -11],
   3.0: ['a1', 'a3', -8],
   6.0: ['a2', 'a2', -9],
   2.0: ['a1', 'a1', -10],
   1.0: ['a2', 'a3', -9]}],
 30: ['Женщина',
  '39',
  '18',
  'Высшее',
  'D',
  {6.0: ['a1', 'a2', -6],
   3.0: ['a2', 'a3', -4],
   2.0: ['a2', 'a1', -19],
   1.0: ['a2', 'a3', -12],
   5.0: ['a3', 'a1', -11],
   4.0: ['a3', 'a2', -13]}],
 31: ['Женщина',
  '20',
  '13',
  'неоконченное высшее',
  'B',
  {2.0: ['a2', 'a3', -1],
   5.0: ['a2', 'a2', -1],
   4.0: ['a2', 'a1', 0],
   3.0: ['a1', 'a1', -1],
   1.0: ['a2', 'a3', -1],
   6.0: ['a2', 'a2', 0]}],
 32: ['Женщина',
  '22',
  '15',
  'высшее',
  'C',
  {2.0: ['a3', 'a1', -1],
   5.0: ['a3', 'a1', 0],
   1.0: ['a3', 'a3', 0],
   3.0: ['a1', 'a3', 0],
   6.0: ['a2', 'a2', -1],
   4.0: ['a2', 'a2', 0]}],
 33: ['Женщина',
  '59',
  '15',
  'Высшее',
  'D',
  {2.0: ['a1', 'a1', -3],
   1.0: ['a2', 'a3', -3],
   5.0: ['a2', 'a1', -3],
   6.0: ['a2', 'a2', -4],
   3.0: ['a2', 'a3', -3],
   4.0: ['a2', 'a2', -8]}],
 34: ['Женщина',
  '62',
  '15',
  'Высшее',
  'A',
  {4.0: ['a4', 'a1', -2],
   1.0: ['a1', 'a3', -3],
   5.0: ['a2', 'a2', -4],
   3.0: ['a1', 'a1', -3],
   2.0: ['a1', 'a3', -2],
   6.0: ['a3', 'a2', -3]}],
 35: ['Женщина',
  '52',
  'NaN',
  'Средне специальное образование ',
  'B',
  {6.0: ['a1', 'a2', -10],
   3.0: ['a1', 'a1', -10],
   4.0: ['a1', 'a1', -10],
   2.0: ['a1', 'a3', -8],
   1.0: ['a1', 'a3', -8],
   5.0: ['a2', 'a2', -10]}],
 36: ['Женщина',
  '52',
  'NaN',
  'Высшее%2C15',
  'C',
  {2.0: ['a1', 'a1', -10],
   1.0: ['a4', 'a3', -5],
   6.0: ['a1', 'a2', -9],
   4.0: ['a1', 'a2', -6],
   5.0: ['a1', 'a1', -6],
   3.0: ['a1', 'a3', -7]}],
 37: ['Женщина',
  '48',
  'NaN',
  '19',
  'D',
  {6.0: ['a2', 'a2', -12],
   3.0: ['a2', 'a3', -6],
   2.0: ['a2', 'a1', -6],
   5.0: ['a2', 'a1', -6],
   1.0: ['a2', 'a3', -5],
   4.0: ['a2', 'a2', -5]}],
 38: ['Женщина',
  '37',
  '16',
  'Высшее',
  'D',
  {4.0: ['a2', 'a2', -19],
   3.0: ['a2', 'a3', -13],
   6.0: ['a2', 'a2', -10],
   1.0: ['a2', 'a3', -11],
   5.0: ['a3', 'a1', -11],
   2.0: ['a2', 'a1', -18]}],
 39: ['Женщина',
  '44',
  '15',
  'Высшее',
  'A',
  {3.0: ['a1', 'a1', -2],
   5.0: ['a1', 'a2', -2],
   4.0: ['a1', 'a1', -3],
   1.0: ['a1', 'a3', -2],
   6.0: ['a1', 'a2', -2],
   2.0: ['a1', 'a3', -2]}],
 40: ['Женщина',
  '41',
  'NaN',
  'Высшее%2C15',
  'D',
  {6.0: ['a2', 'a2', -3],
   4.0: ['a2', 'a2', -3],
   5.0: ['a2', 'a1', -3],
   1.0: ['a2', 'a3', -2],
   3.0: ['a2', 'a3', -2],
   2.0: ['a2', 'a1', -1]}],
 41: ['Женщина',
  '36',
  '16',
  'Высшее',
  'D',
  {1.0: ['a2', 'a3', -7],
   6.0: ['a2', 'a2', -9],
   4.0: ['a2', 'a2', -5],
   3.0: ['a2', 'a3', -9],
   2.0: ['a2', 'a1', -9],
   5.0: ['a2', 'a1', -6]}],
 42: ['Женщина',
  '39',
  '17',
  'Средне специальное',
  'B',
  {3.0: ['a1', 'a1', -43],
   6.0: ['a2', 'a2', -7],
   4.0: ['a2', 'a1', -8],
   2.0: ['a2', 'a3', -10],
   5.0: ['a2', 'a2', -6],
   1.0: ['a2', 'a3', -11]}],
 43: ['Женщина',
  '60',
  '15',
  'Высшее',
  'C',
  {2.0: ['a2', 'a1', -8],
   6.0: ['a2', 'a2', -5],
   3.0: ['a2', 'a3', -6],
   1.0: ['a2', 'a3', -13],
   5.0: ['a1', 'a1', -5],
   4.0: ['a2', 'a2', -12]}],
 44: ['Мужчина',
  '24',
  '17',
  'высшее',
  'D',
  {6.0: ['a2', 'a2', -1],
   5.0: ['a3', 'a1', -1],
   1.0: ['a2', 'a3', 0],
   3.0: ['a2', 'a3', 0],
   4.0: ['a2', 'a2', -1],
   2.0: ['a3', 'a1', -1]}],
 45: ['Женщина',
  '57',
  'NaN',
  'Высшее%2C15',
  'A',
  {3.0: ['a1', 'a1', -7],
   6.0: ['a2', 'a2', -5],
   2.0: ['a1', 'a3', -7],
   1.0: ['a2', 'a3', -4],
   5.0: ['a2', 'a2', -10],
   4.0: ['a1', 'a1', -5]}],
 46: ['Женщина',
  '42',
  '17',
  'высшее',
  'B',
  {1.0: ['a1', 'a3', -4],
   5.0: ['a2', 'a2', -1],
   3.0: ['a1', 'a1', -2],
   6.0: ['a2', 'a2', -2],
   4.0: ['a2', 'a1', -2],
   2.0: ['a2', 'a3', -1]}],
 47: ['Мужчина',
  '19',
  '12',
  'Неоконченное высшее',
  'C',
  {4.0: ['a3', 'a2', -3],
   2.0: ['a1', 'a1', -29],
   6.0: ['a2', 'a2', -5],
   5.0: ['a1', 'a1', -8],
   3.0: ['a1', 'a3', -8],
   1.0: ['a2', 'a3', -10]}],
 48: ['Женщина',
  '37',
  '17',
  '2 высших',
  'D',
  {5.0: ['a1', 'a1', -11],
   4.0: ['a4', 'a2', -8],
   1.0: ['a2', 'a3', -10],
   6.0: ['a2', 'a2', -10],
   3.0: ['a2', 'a3', -8],
   2.0: ['a2', 'a1', -10]}],
 49: ['Женщина',
  '72',
  'NaN',
  'Высшее',
  'A',
  {6.0: ['a3', 'a2', -3],
   2.0: ['a1', 'a3', -3],
   5.0: ['a4', 'a2', -5],
   3.0: ['a1', 'a1', -3],
   1.0: ['a1', 'a3', -4],
   4.0: ['a3', 'a1', -3]}],
 50: ['Мужчина',
  '39',
  'NaN',
  'Высшее%2C15',
  'C',
  {5.0: ['a1', 'a1', -1],
   1.0: ['a2', 'a3', -1],
   3.0: ['a1', 'a3', -1],
   2.0: ['a1', 'a1', -1],
   4.0: ['a2', 'a2', -1],
   6.0: ['a2', 'a2', 0]}],
 51: ['Мужчина',
  '20',
  '15',
  'неоконченное высшее',
  'A',
  {3.0: ['a1', 'a1', 0],
   1.0: ['a3', 'a3', -1],
   2.0: ['a3', 'a3', -1],
   4.0: ['a1', 'a1', 0],
   5.0: ['a3', 'a2', 0],
   6.0: ['a3', 'a2', -1]}],
 52: ['Женщина',
  '16',
  '9',
  'среднее',
  'A',
  {4.0: ['a1', 'a1', -7],
   5.0: ['a2', 'a2', -8],
   2.0: ['a2', 'a3', -9],
   1.0: ['a2', 'a3', -5],
   6.0: ['a2', 'a2', -6],
   3.0: ['a1', 'a1', -6]}],
 53: ['Мужчина',
  '20',
  '13',
  'неоконченное высшее',
  'A',
  {1.0: ['a2', 'a3', 0],
   2.0: ['a2', 'a3', -1],
   5.0: ['a2', 'a2', 0],
   6.0: ['a2', 'a2', 0],
   3.0: ['a1', 'a1', 0],
   4.0: ['a1', 'a1', 0]}],
 54: ['Женщина',
  '18',
  '14',
  'Неоконченное высшее',
  'A',
  {6.0: ['a2', 'a2', -7],
   2.0: ['a2', 'a3', -15],
   4.0: ['a1', 'a1', -4],
   3.0: ['a1', 'a1', -6],
   1.0: ['a2', 'a3', -16],
   5.0: ['a3', 'a2', -5]}],
 55: ['Мужчина',
  '18',
  'NaN',
  'неоконченное высшее%2C13',
  'A',
  {3.0: ['a2', 'a1', -1],
   5.0: ['a2', 'a2', -1],
   2.0: ['a2', 'a3', 0],
   4.0: ['a3', 'a1', 0],
   6.0: ['a2', 'a2', 0],
   1.0: ['a3', 'a3', -1]}],
 56: ['Мужчина',
  '19',
  '13',
  'неоконченное высшее',
  'C',
  {4.0: ['a3', 'a2', 0],
   2.0: ['a3', 'a1', 0],
   1.0: ['a3', 'a3', 0],
   3.0: ['a3', 'a3', 0],
   5.0: ['a3', 'a1', -1],
   6.0: ['a3', 'a2', -1]}],
 57: ['Женщина',
  '20',
  '14',
  'неоконченное высшее',
  'D',
  {1.0: ['a2', 'a3', -4],
   4.0: ['a2', 'a2', -3],
   6.0: ['a2', 'a2', -2],
   2.0: ['a2', 'a1', -4],
   5.0: ['a2', 'a1', -4],
   3.0: ['a2', 'a3', -5]}],
 58: ['Женщина',
  '40',
  '19',
  'высшее',
  'A',
  {2.0: ['a1', 'a3', -2],
   4.0: ['a2', 'a1', -3],
   5.0: ['a2', 'a2', -2],
   1.0: ['a2', 'a3', -2],
   3.0: ['a2', 'a1', -2],
   6.0: ['a2', 'a2', -2]}],
 59: ['Женщина',
  '22',
  'NaN',
  'Бакалавриат',
  'B',
  {3.0: ['a1', 'a1', -9],
   5.0: ['a4', 'a2', -5],
   2.0: ['a4', 'a3', -5],
   4.0: ['a1', 'a1', -6],
   1.0: ['a2', 'a3', -6],
   6.0: ['a2', 'a2', -5]}],
 60: ['Женщина',
  '20',
  '15',
  'высшее',
  'C',
  {5.0: ['a2', 'a1', -3],
   2.0: ['a3', 'a1', -2],
   6.0: ['a2', 'a2', -1],
   4.0: ['a2', 'a2', -2],
   3.0: ['a3', 'a3', -2],
   1.0: ['a2', 'a3', -2]}],
 61: ['Мужчина',
  '20',
  'NaN',
  'неоконченное высшее',
  'D',
  {2.0: ['a1', 'a1', -3],
   5.0: ['a1', 'a1', -4],
   3.0: ['a3', 'a3', -3],
   1.0: ['a3', 'a3', -3],
   4.0: ['a2', 'a2', -3],
   6.0: ['a2', 'a2', -3]}],
 62: ['Мужчина',
  '20',
  '14',
  'среднее',
  'D',
  {6.0: ['a2', 'a2', -1],
   5.0: ['a2', 'a1', -1],
   1.0: ['a2', 'a3', -1],
   4.0: ['a2', 'a2', -1],
   2.0: ['a2', 'a1', -1],
   3.0: ['a2', 'a3', -1]}],
 63: ['Мужчина',
  '21',
  '14',
  'Неоконечнное высшее',
  'A',
  {2.0: ['a2', 'a3', -1],
   3.0: ['a2', 'a1', -1],
   6.0: ['a2', 'a2', -1],
   4.0: ['a2', 'a1', -1],
   5.0: ['a2', 'a2', -1],
   1.0: ['a2', 'a3', -1]}],
 64: ['Мужчина',
  '19',
  '13',
  'среднее',
  'B',
  {6.0: ['a3', 'a2', -1],
   1.0: ['a2', 'a3', -1],
   4.0: ['a2', 'a1', -1],
   5.0: ['a2', 'a2', -1],
   2.0: ['a2', 'a3', -1],
   3.0: ['a1', 'a1', 0]}],
 65: ['Мужчина',
  '43',
  'NaN',
  'среднее',
  'D',
  {2.0: ['a2', 'a1', -1],
   4.0: ['a2', 'a2', 0],
   1.0: ['a2', 'a3', 0],
   3.0: ['a2', 'a3', 0],
   5.0: ['a2', 'a1', 0],
   6.0: ['a2', 'a2', 0]}],
 66: ['Женщина',
  '41',
  'NaN',
  'Высшее17',
  'D',
  {3.0: ['a1', 'a3', -2],
   4.0: ['a1', 'a2', -1],
   5.0: ['a1', 'a1', -3],
   2.0: ['a1', 'a1', -2],
   6.0: ['a1', 'a2', -2],
   1.0: ['a1', 'a3', -3]}],
 67: ['Мужчина',
  '20',
  '13',
  'студент',
  'B',
  {1.0: ['a3', 'a3', -1],
   6.0: ['a3', 'a2', -1],
   2.0: ['a3', 'a3', -1],
   4.0: ['a3', 'a1', -1],
   5.0: ['a3', 'a2', -1],
   3.0: ['a3', 'a1', 0]}],
 68: ['Мужчина',
  '21',
  '14',
  'неоконченное высшее',
  'B',
  {4.0: ['a3', 'a1', -3],
   3.0: ['a1', 'a1', -3],
   1.0: ['a3', 'a3', -1],
   5.0: ['a2', 'a2', -3],
   2.0: ['a3', 'a3', -1],
   6.0: ['a3', 'a2', -2]}],
 69: ['Мужчина',
  '20',
  '13',
  'высшее',
  'B',
  {1.0: ['a2', 'a3', -1],
   3.0: ['a3', 'a1', -1],
   2.0: ['a3', 'a3', -2],
   4.0: ['a1', 'a1', -1],
   5.0: ['a2', 'a2', -1],
   6.0: ['a2', 'a2', -2]}],
 70: ['Мужчина',
  '19',
  '14',
  'неоконченное высшее',
  'B',
  {1.0: ['a3', 'a3', -6],
   4.0: ['a3', 'a1', -4],
   2.0: ['a3', 'a3', -4],
   3.0: ['a3', 'a1', -4],
   5.0: ['a3', 'a2', -3],
   6.0: ['a3', 'a2', -3]}],
 71: ['Женщина',
  '40',
  '19',
  'Высшее',
  'C',
  {4.0: ['a1', 'a2', -4],
   1.0: ['a1', 'a3', -14],
   3.0: ['a1', 'a3', -6],
   6.0: ['a2', 'a2', -6],
   5.0: ['a1', 'a1', -6],
   2.0: ['a1', 'a1', -4]}],
 72: ['Мужчина',
  '20',
  '14',
  'неоконченное высшее',
  'C',
  {3.0: ['a1', 'a3', -1],
   2.0: ['a3', 'a1', -1],
   5.0: ['a1', 'a1', 0],
   1.0: ['a2', 'a3', 0],
   6.0: ['a2', 'a2', -1],
   4.0: ['a2', 'a2', 0]}],
 73: ['Мужчина',
  '45',
  '15',
  'оконченное высшее',
  'B',
  {4.0: ['a1', 'a1', -2],
   5.0: ['a1', 'a2', -1],
   3.0: ['a2', 'a1', -1],
   1.0: ['a3', 'a3', -1],
   2.0: ['a1', 'a3', -1],
   6.0: ['a2', 'a2', 0]}],
 74: ['Мужчина',
  '19',
  '19',
  'неоконченное высшее',
  'B',
  {1.0: ['a2', 'a3', -2],
   6.0: ['a2', 'a2', 0],
   5.0: ['a2', 'a2', 0],
   2.0: ['a2', 'a3', -1],
   4.0: ['a4', 'a1', 0],
   3.0: ['a1', 'a1', 0]}],
 75: ['Мужчина',
  '22',
  '15',
  'высшее',
  'A',
  {6.0: ['a2', 'a2', -1],
   4.0: ['a2', 'a1', -1],
   3.0: ['a2', 'a1', -1],
   1.0: ['a2', 'a3', 0],
   5.0: ['a2', 'a2', -1],
   2.0: ['a2', 'a3', -1]}],
 76: ['Мужчина',
  '30',
  'NaN',
  'кандидат всех наук',
  'B',
  {2.0: ['a3', 'a3', -1],
   1.0: ['a3', 'a3', 0],
   3.0: ['a1', 'a1', 0],
   5.0: ['a2', 'a2', -1],
   6.0: ['a2', 'a2', 0],
   4.0: ['a2', 'a1', 0]}],
 77: ['Женщина',
  '20',
  '20',
  'неоконченное высшее',
  'C',
  {6.0: ['a2', 'a2', -7],
   4.0: ['a1', 'a2', -1],
   3.0: ['a2', 'a3', -6],
   5.0: ['a1', 'a1', -5],
   2.0: ['a2', 'a1', -5],
   1.0: ['a1', 'a3', -4]}],
 78: ['Мужчина',
  '21',
  '14',
  'высшее',
  'D',
  {3.0: ['a2', 'a3', -2],
   5.0: ['a4', 'a1', -1],
   4.0: ['a2', 'a2', -2],
   6.0: ['a2', 'a2', -2],
   2.0: ['a2', 'a1', -1],
   1.0: ['a2', 'a3', -2]}],
 79: ['Женщина',
  '43',
  'NaN',
  'Высшее%2C11',
  'A',
  {1.0: ['a1', 'a3', -6],
   2.0: ['a1', 'a3', -7],
   5.0: ['a3', 'a2', -7],
   3.0: ['a1', 'a1', -6],
   4.0: ['a4', 'a1', -6],
   6.0: ['a2', 'a2', -6]}],
 80: ['Мужчина',
  '63',
  '10',
  'Среднее',
  'B',
  {1.0: ['a2', 'a3', -4],
   4.0: ['a1', 'a1', -3],
   5.0: ['a2', 'a2', -3],
   3.0: ['a2', 'a1', -3],
   6.0: ['a2', 'a2', -2],
   2.0: ['a1', 'a3', -2]}],
 81: ['Женщина',
  '39',
  '15',
  'Высшее',
  'C',
  {3.0: ['a1', 'a3', -3],
   6.0: ['a4', 'a2', -3],
   4.0: ['a2', 'a2', -7],
   5.0: ['a3', 'a1', -2],
   2.0: ['a2', 'a1', -4],
   1.0: ['a2', 'a3', -4]}],
 82: ['Женщина',
  '65',
  '15',
  'Высшее',
  'C',
  {3.0: ['a1', 'a3', -7],
   2.0: ['a1', 'a1', -7],
   6.0: ['a1', 'a2', -6],
   4.0: ['a1', 'a2', -5],
   5.0: ['a1', 'a1', -5],
   1.0: ['a2', 'a3', -6]}],
 83: ['Женщина',
  '60',
  'NaN',
  'Высшее',
  'A',
  {6.0: ['a2', 'a2', 0],
   2.0: ['a1', 'a3', -1],
   4.0: ['a1', 'a1', 0],
   1.0: ['a2', 'a3', 0],
   3.0: ['a1', 'a1', 0],
   5.0: ['a2', 'a2', 0]}],
 84: ['Женщина',
  '38',
  '16',
  'Высшее',
  'A',
  {4.0: ['a4', 'a1', -8],
   6.0: ['a4', 'a2', -12],
   5.0: ['a4', 'a2', -11],
   2.0: ['a4', 'a3', -10],
   1.0: ['a4', 'a3', -6],
   3.0: ['a4', 'a1', -9]}],
 85: ['Женщина',
  '35',
  'NaN',
  'Высшее%2C16',
  'D',
  {2.0: ['a1', 'a1', -8],
   5.0: ['a1', 'a1', -5],
   4.0: ['a1', 'a2', -11],
   1.0: ['a2', 'a3', -6],
   6.0: ['a1', 'a2', -9],
   3.0: ['a2', 'a3', -7]}],
 86: ['Женщина',
  '55',
  'NaN',
  'СПО',
  'A',
  {3.0: ['a1', 'a1', -10],
   4.0: ['a1', 'a1', -9],
   5.0: ['a2', 'a2', -10],
   1.0: ['a2', 'a3', -9],
   6.0: ['a2', 'a2', -9],
   2.0: ['a2', 'a3', -8]}],
 87: ['Женщина',
  '46',
  '16',
  'Высшее',
  'B',
  {3.0: ['a1', 'a1', -13],
   1.0: ['a1', 'a3', -12],
   2.0: ['a1', 'a3', -12],
   6.0: ['a1', 'a2', -8],
   4.0: ['a1', 'a1', -11],
   5.0: ['a1', 'a2', -13]}],
 88: ['Мужчина',
  '20',
  'NaN',
  'СПО',
  'B',
  {6.0: ['a2', 'a2', -11],
   4.0: ['a1', 'a1', -11],
   1.0: ['a2', 'a3', -10],
   5.0: ['a2', 'a2', -11],
   2.0: ['a2', 'a3', -7],
   3.0: ['a2', 'a1', -7]}],
 89: ['Женщина',
  '60',
  '15',
  'высшее',
  'A',
  {4.0: ['a1', 'a1', -1],
   1.0: ['a3', 'a3', -1],
   5.0: ['a3', 'a2', -1],
   3.0: ['a1', 'a1', -1],
   2.0: ['a3', 'a3', -1],
   6.0: ['a1', 'a2', 0]}],
 90: ['Женщина',
  '38',
  '15',
  'Высшее',
  'B',
  {1.0: ['a2', 'a3', -2],
   6.0: ['a1', 'a2', -1],
   4.0: ['a1', 'a1', -1],
   2.0: ['a2', 'a3', -2],
   3.0: ['a1', 'a1', -1],
   5.0: ['a2', 'a2', -1]}],
 91: ['Женщина',
  '32',
  'NaN',
  'два высших%2C 22 ',
  'B',
  {3.0: ['a1', 'a1', -3],
   2.0: ['a1', 'a3', -3],
   4.0: ['a1', 'a1', -2],
   6.0: ['a2', 'a2', -3],
   1.0: ['a2', 'a3', -3],
   5.0: ['a2', 'a2', -3]}],
 92: ['Женщина',
  '50',
  '15',
  'Высшее',
  'C',
  {1.0: ['a2', 'a3', -17],
   5.0: ['a1', 'a1', -9],
   2.0: ['a1', 'a1', -12],
   4.0: ['a4', 'a2', -8],
   3.0: ['a1', 'a3', -8],
   6.0: ['a1', 'a2', -4]}],
 93: ['Женщина',
  '55',
  'NaN',
  'Высшее',
  'A',

In [199]:
Gender = []
Age = []
age_ed = []
education = []
Group = []
answers = []

for key, value in dict_person_for_stat.items():
    Gender.append(value[0])
    Age.append(value[1])
    age_ed.append(value[2])
    education.append(value[3])
    Group.append(value[4])
    answers.append(value[5])

In [200]:
df_for_stat = pd.DataFrame(list(zip(Gender, Age, age_ed, education, Group, answers)),
               columns =['Gender', 'Age', 'age_ed', 'education', 'Group', 'answers'])

In [201]:
df_for_stat

,Gender,Age,age_ed,education,Group,answers
0,Женщина,22,15,высшее,A,"{6.0: ['a2', 'a2'], 1.0: ['a2', 'a3'], 3.0: ['..."
1,Женщина,18,13,неоконченное высшее,A,"{3.0: ['a1', 'a1'], 5.0: ['a2', 'a2'], 2.0: ['..."
2,Женщина,19,12,неоконченное высшее,B,"{2.0: ['a3', 'a3'], 3.0: ['a1', 'a1'], 4.0: ['..."
3,Женщина,19,13,неоконченное высшее,D,"{6.0: ['a2', 'a2'], 2.0: ['a1', 'a1'], 5.0: ['..."
4,Мужчина,21,13,неоконченное высшее,A,"{1.0: ['a3', 'a3'], 5.0: ['a2', 'a2'], 3.0: ['..."
...,...,...,...,...,...,...
135,Женщина,18,11,среднее,A,"{2.0: ['a1', 'a3'], 6.0: ['a3', 'a2'], 4.0: ['..."
136,Мужчина,20,13,неоконченное высшее,B,"{1.0: ['a2', 'a3'], 5.0: ['a4', 'a2'], 3.0: ['..."
137,Мужчина,56,NaN,Среднее,D,"{6.0: ['a3', 'a2'], 3.0: ['a1', 'a3'], 1.0: ['..."
138,Женщина,40,NaN,19,A,"{3.0: ['a1', 'a1'], 2.0: ['a1', 'a3'], 5.0: ['..."
139,Женщина,63,NaN,среднее специальное,B,"{4.0: ['a1', 'a1'], 2.0: ['a1', 'a3'], 3.0: ['..."

In [202]:
df_for_stat.to_excel("output_for_stat.xlsx")

In [3]:
df_for_stat = pd.read_excel('output_for_stat_clean.xlsx') #ручками почистить образование

In [4]:
df_for_stat

,Gender,Age,age_ed,education,Group,answers
0,Женщина,22,15.0,высшее,A,"{6.0: ['a2', 'a2'], 1.0: ['a2', 'a3'], 3.0: ['..."
1,Женщина,18,13.0,неоконченное высшее,A,"{3.0: ['a1', 'a1'], 5.0: ['a2', 'a2'], 2.0: ['..."
2,Женщина,19,12.0,неоконченное высшее,B,"{2.0: ['a3', 'a3'], 3.0: ['a1', 'a1'], 4.0: ['..."
3,Женщина,19,13.0,неоконченное высшее,D,"{6.0: ['a2', 'a2'], 2.0: ['a1', 'a1'], 5.0: ['..."
4,Мужчина,21,13.0,неоконченное высшее,A,"{1.0: ['a3', 'a3'], 5.0: ['a2', 'a2'], 3.0: ['..."
...,...,...,...,...,...,...
135,Женщина,18,11.0,среднее,A,"{2.0: ['a1', 'a3'], 6.0: ['a3', 'a2'], 4.0: ['..."
136,Мужчина,20,13.0,неоконченное высшее,B,"{1.0: ['a2', 'a3'], 5.0: ['a4', 'a2'], 3.0: ['..."
137,Мужчина,56,NaN,Среднее,D,"{6.0: ['a3', 'a2'], 3.0: ['a1', 'a3'], 1.0: ['..."
138,Женщина,40,19.0,Высшее,A,"{3.0: ['a1', 'a1'], 2.0: ['a1', 'a3'], 5.0: ['..."
139,Женщина,63,NaN,среднее специальное,B,"{4.0: ['a1', 'a1'], 2.0: ['a1', 'a3'], 3.0: ['..."

In [5]:
df_for_stat['Age'] = df_for_stat['Age'].astype(int)

Всё по возрасту

In [6]:
df_for_stat['Age'].mean()

36.864285714285714

In [7]:
df_for_stat['Age'].median()

39.0

In [8]:
df_for_stat['Age'].std()

15.2670288055952

In [9]:
df_for_stat['Age'].mode()

0    20
Name: Age, dtype: int32

In [10]:
##ничего не работает, хотя я так всегда считаю chi... может, он и не нужен здесь?
# exp = np.full((1, 140), 50, dtype=int)

# from scipy.stats import chisquare
# chisquare(f_obs=age, f_exp=exp)

По гендеру только количество мужчин и женщин

In [11]:
df_for_stat['Gender'].value_counts()

Женщина    86
Мужчина    54
Name: Gender, dtype: int64

Теперь работать с ответами

In [24]:
q1 = []
q2 = []
q3 = []
q4 = []
q5 = []
q6 = []
q1_p = []
q2_p = []
q3_p = []
q4_p = []
q5_p = []
q6_p = []

for index, row in df_for_stat.iterrows():
    q_p = []
    r_p = []
    r = row['answers'][1:]
    r = r[:-1]
    r = r.replace(': ', ':')
    r = r.replace("', '", "','")
    r = r.split(', ')
    for element in r:
        element = element.split(':')
        element[1] = element[1].replace('[', '')
        element[1] = element[1].replace(']', '')
        answ = element[1].split(',')
        q_p.append(int(float(element[0])))
        if int(float(element[0])) == 1:
            q1.append(answ[0])
            if answ[0] == answ[1]:
                q1_p.append(1)
            else:
                q1_p.append(0)
        elif int(float(element[0])) == 2:
            q2.append(answ[0])
            if answ[0] == answ[1]:
                q2_p.append(1)
            else:
                q2_p.append(0)
        elif int(float(element[0])) == 3:
            q3.append(answ[0])
            if answ[0] == answ[1]:
                q3_p.append(1)
            else:
                q3_p.append(0)
        elif int(float(element[0])) == 4:
            q4.append(answ[0])
            if answ[0] == answ[1]:
                q4_p.append(1)
            else:
                q4_p.append(0)
        elif int(float(element[0])) == 5:
            q5.append(answ[0])
            if answ[0] == answ[1]:
                q5_p.append(1)
            else:
                q5_p.append(0)
        else:
            q6.append(answ[0])
            if answ[0] == answ[1]:
                q6_p.append(1)
            else:
                q6_p.append(0)

In [25]:
df_for_stat['q_1'] = q1
df_for_stat['q_2'] = q2
df_for_stat['q_3'] = q3
df_for_stat['q_4'] = q4
df_for_stat['q_5'] = q5
df_for_stat['q_6'] = q6
df_for_stat['q_1_p'] = q1_p
df_for_stat['q_2_p'] = q2_p
df_for_stat['q_3_p'] = q3_p
df_for_stat['q_4_p'] = q4_p
df_for_stat['q_5_p'] = q5_p
df_for_stat['q_6_p'] = q6_p

In [30]:
df_for_stat

,Gender,Age,age_ed,education,Group,answers,q_1,q_2,q_3,q_4,q_5,q_6,q_1_p,q_2_p,q_3_p,q_4_p,q_5_p,q_6_p
0,Женщина,22,15.0,высшее,A,"{6.0: ['a2', 'a2'], 1.0: ['a2', 'a3'], 3.0: ['...",'a2','a2','a1','a3','a2','a2',0,0,1,0,1,1
1,Женщина,18,13.0,неоконченное высшее,A,"{3.0: ['a1', 'a1'], 5.0: ['a2', 'a2'], 2.0: ['...",'a3','a2','a1','a1','a2','a2',1,0,1,1,1,1
2,Женщина,19,12.0,неоконченное высшее,B,"{2.0: ['a3', 'a3'], 3.0: ['a1', 'a1'], 4.0: ['...",'a2','a3','a1','a1','a2','a2',0,1,1,1,1,1
3,Женщина,19,13.0,неоконченное высшее,D,"{6.0: ['a2', 'a2'], 2.0: ['a1', 'a1'], 5.0: ['...",'a1','a1','a2','a2','a2','a2',0,1,0,1,0,1
4,Мужчина,21,13.0,неоконченное высшее,A,"{1.0: ['a3', 'a3'], 5.0: ['a2', 'a2'], 3.0: ['...",'a3','a1','a1','a1','a2','a2',1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Женщина,18,11.0,среднее,A,"{2.0: ['a1', 'a3'], 6.0: ['a3', 'a2'], 4.0: ['...",'a1','a1','a1','a4','a2','a3',0,0,1,0,1,0
136,Мужчина,20,13.0,неоконченное высшее,B,"{1.0: ['a2', 'a3'], 5.0: ['a4', 'a2'], 3.0: ['...",'a2','a2','a1','a3','a4','a2',0,0,1,0,0,1
137,Мужчина,56,NaN,Среднее,D,"{6.0: ['a3', 'a2'], 3.0: ['a1', 'a3'], 1.0: ['...",'a3','a3','a1','a3','a1','a3',1,0,0,0,1,0
138,Женщина,40,19.0,Высшее,A,"{3.0: ['a1', 'a1'], 2.0: ['a1', 'a3'], 5.0: ['...",'a2','a1','a1','a4','a1','a4',0,0,1,0,0,0
139,Женщина,63,NaN,среднее специальное,B,"{4.0: ['a1', 'a1'], 2.0: ['a1', 'a3'], 3.0: ['...",'a1','a1','a1','a1','a2','a1',0,0,1,1,1,0

Штуки по правильным ответам. Если значения высокие, значит пользователи шли за контекстом и ориентировались именно на него

In [48]:
df_for_stat.mean()

C:\Users\пользователь\AppData\Local\Temp\ipykernel_2488\3893505765.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_for_stat.mean()

Age       36.864286
age_ed    15.283333
q_1_p      0.214286
q_2_p      0.314286
q_3_p      0.492857
q_4_p      0.521429
q_5_p      0.542857
q_6_p      0.685714
dtype: float64

In [49]:
df_for_stat.std()

C:\Users\пользователь\AppData\Local\Temp\ipykernel_2488\375359819.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_for_stat.std()

Age       15.267029
age_ed     3.462120
q_1_p      0.411799
q_2_p      0.465898
q_3_p      0.501744
q_4_p      0.501334
q_5_p      0.499949
q_6_p      0.465898
dtype: float64

In [80]:
df_for_stat.groupby('Group')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].mean()

          q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Group
A      0.242424  0.121212  0.727273  0.484848  0.666667  0.636364
B      0.190476  0.261905  0.785714  0.428571  0.690476  0.619048
C      0.206897  0.586207  0.241379  0.586207  0.482759  0.724138
D      0.222222  0.333333  0.138889  0.611111  0.305556  0.777778

In [88]:
df_for_stat.groupby('Group')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].std()

          q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Group
A      0.435194  0.331434  0.452267  0.507519  0.478714  0.488504
B      0.397437  0.445001  0.415300  0.500870  0.467901  0.491507
C      0.412251  0.501230  0.435494  0.501230  0.508548  0.454859
D      0.421637  0.478091  0.350736  0.494413  0.467177  0.421637

In [68]:
df_for_stat.groupby('Group')[['q_1']].value_counts()

Group  q_1
A      'a2'    16
       'a1'     8
       'a3'     8
       'a4'     1
B      'a2'    23
       'a1'    10
       'a3'     8
       'a4'     1
C      'a2'    18
       'a3'     6
       'a1'     4
       'a4'     1
D      'a2'    21
       'a3'     8
       'a1'     5
       'a4'     2
dtype: int64

In [69]:
df_for_stat.groupby('Group')[['q_2']].value_counts()

Group  q_2
A      'a2'    15
       'a1'    13
       'a3'     4
       'a4'     1
B      'a1'    14
       'a2'    14
       'a3'    11
       'a4'     3
C      'a1'    17
       'a2'     7
       'a3'     5
D      'a2'    18
       'a1'    12
       'a3'     6
dtype: int64

In [70]:
df_for_stat.groupby('Group')[['q_3']].value_counts()

Group  q_3
A      'a1'    24
       'a2'     6
       'a3'     2
       'a4'     1
B      'a1'    33
       'a2'     4
       'a3'     4
       'a4'     1
C      'a1'    14
       'a2'     8
       'a3'     7
D      'a2'    25
       'a1'     5
       'a3'     5
       'a4'     1
dtype: int64

In [71]:
df_for_stat.groupby('Group')[['q_4']].value_counts()

Group  q_4
A      'a1'    16
       'a4'     7
       'a2'     6
       'a3'     4
B      'a1'    18
       'a2'    12
       'a3'     7
       'a4'     5
C      'a2'    17
       'a1'     6
       'a3'     4
       'a4'     2
D      'a2'    22
       'a1'     7
       'a3'     5
       'a4'     2
dtype: int64

In [72]:
df_for_stat.groupby('Group')[['q_5']].value_counts()

Group  q_5
A      'a2'    22
       'a3'     5
       'a1'     4
       'a4'     2
B      'a2'    29
       'a1'     5
       'a3'     4
       'a4'     4
C      'a1'    14
       'a2'    10
       'a3'     5
D      'a2'    18
       'a1'    11
       'a3'     5
       'a4'     2
dtype: int64

In [73]:
df_for_stat.groupby('Group')[['q_6']].value_counts()

Group  q_6
A      'a2'    21
       'a3'     5
       'a1'     4
       'a4'     3
B      'a2'    26
       'a1'     7
       'a3'     7
       'a4'     2
C      'a2'    21
       'a1'     4
       'a3'     2
       'a4'     2
D      'a2'    28
       'a1'     6
       'a3'     2
dtype: int64

In [77]:
df_for_stat.groupby('Gender')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].mean()

            q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Gender
Женщина  0.139535  0.302326  0.523256  0.523256  0.511628  0.651163
Мужчина  0.333333  0.333333  0.444444  0.518519  0.592593  0.740741

In [78]:
df_for_stat.groupby('Gender')[['q_1_p', 'q_2_p', 'q_3_p', 'q_4_p', 'q_5_p', 'q_6_p']].std()

            q_1_p     q_2_p     q_3_p     q_4_p     q_5_p     q_6_p
Gender
Женщина  0.348536  0.461959  0.502388  0.502388  0.502797  0.479398
Мужчина  0.475831  0.475831  0.501570  0.504349  0.495966  0.442343

In [79]:
df_for_stat['Group'].value_counts()

B    42
D    36
A    33
C    29
Name: Group, dtype: int64

А вот возраст/пол/образование хочу на графиках посмотреть. Мне кажется, что это будет эффективнее, чем пытаться что-то высчитать.Только у меня всегда плохо с выбором графиков...

In [94]:
import matplotlib.pyplot as plt

Только перед этим приведу всё образование к строчным буквам

In [92]:
df_for_stat['education'] = df_for_stat['education'].str.lower()

Милена, у тебя была визуализация в прошлом году, может быть, ты построишь графики? (если это не нагло с моей стороны)

In [100]:
df_for_stat.to_excel("output_with_ans.xlsx")

In [23]:
dict_fail_vv_qq = {} #если чел допустил ошибку при соответствии
dict_cont_interpret_vq_qv = {} #если чел пошёл за контекстом
dict_aud_interpret_vq_qv = {} #если чел пошёл за аудио
dict_bag_aud = {} #если чел пошёл за аудио или вообще ничего не понял
dict_bag_right = {} #если чел на контекст обратил внимание

for index, row in df_for_stat.iterrows():
    if row['Group'] == 'A':
        i = 0
        for element in row['questions']:
            if element == 4 or element == 6:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 3 or element == 5:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
                    
            i+=1
    if row['Group'] == 'B':
        i = 0
        for element in row['questions']:
            if element == 3 or element == 5:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 4 or element == 6:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
            i+=1
    if row['Group'] == 'C':
        i = 0
        for element in row['questions']:
            if element == 4 or element == 5:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 2 or element == 6:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
            i+=1
    if row['Group'] == 'D':
        i = 0
        for element in row['questions']:
            if element == 2 or element == 6:
                if row['righ_or_not'][i] == 0:
                    if index not in dict_fail_vv_qq:
                        dict_fail_vv_qq[index] = []
                        dict_fail_vv_qq[index].append(element)
                    else:
                        dict_fail_vv_qq[index].append(element)
            
            elif element == 4 or element == 5:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_cont_interpret_vq_qv:
                        dict_cont_interpret_vq_qv[index] = []
                        dict_cont_interpret_vq_qv[index].append(element)
                    else:
                        dict_cont_interpret_vq_qv[index].append(element)
                else:
                    if index not in dict_aud_interpret_vq_qv:
                        dict_aud_interpret_vq_qv[index] = []
                        dict_aud_interpret_vq_qv[index].append(element)
                    else:
                        dict_aud_interpret_vq_qv[index].append(element)
            
            else:
                if row['righ_or_not'][i] != 0:
                    if index not in dict_bag_right:
                        dict_bag_right[index] = []
                        dict_bag_right[index].append(element)
                    else:
                        dict_bag_right[index].append(element)
                else:
                    if index not in dict_bag_aud:
                        dict_bag_aud[index] = []
                        dict_bag_aud[index].append(element)
                    else:
                        dict_bag_aud[index].append(element)
            i+=1